interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apallvouchers?limit=500&q=VouCompCode+%3D+%27001%27+and+%28VouIuUpdateDate+%3E%3D+%272026-07-01T10%3A24%3A10-0400%27+or+VouIuCreateDate+%3E%3D+%272026-07-01T10%3A24%3A10-0400%27%29
  response:
    body:
      string: '{"items": [{"VouMemoTax2Amt": null, "VouMemoHldbkAmt": null, "VouMemoDiscAmt":
        null, "VouMemoAmt": null, "VouMaterialInvFlag": "-Fallback-scrubbed-P", "VouLastPayAmt":
        null, "VouJobCompCode": "-Fallback-scrubbed-TlE", "VouJobCode": "-Fallback-scrubbed-hnHWd",
        "VouInvSeriesCode": null, "VouInvOutstandAmt": 540, "VouInvHldbkTaxFlag":
        "-Fallback-scrubbed-P", "VouInvDate": "-Fallback-scrubbed-rQBiWWwNvXyOsqYvuRKlucgYU",
        "VouInvCode": "-Fallback-scrubbed-ccJPuUJghBSsQqi", "VouInvAmt": 1587, "VouImportInfo":
        null, "VouImportingGoodsFlag": "-Fallback-scrubbed-P", "VouImageFilename":
        null, "VouHoldPaymentFlag": "-Fallback-scrubbed-C", "VouHoldPaymentDays":
        520, "VouHoldFlag": "-Fallback-scrubbed-P", "VouHldbkPc": 8310, "VouHldbkPaid":
        null, "VouHldbkAmt": 8825, "VouGsthldbkCode": "-Fallback-scrubbed-K", "VouFuncFactorNum":
        null, "VouFrtDiscCode": "-Fallback-scrubbed-P", "VouFrtAmt": null, "VouFiscalCode":
        null, "VouFinalRfpFlag": "-Fallback-scrubbed-P", "VouExpDeptCode": null, "VouEnteredAmt":
        1587, "VouEftFlag": "-Fallback-scrubbed-P", "VouDuplicateId": null, "VouDueDate":
        "-Fallback-scrubbed-rQBiWWwNvXyOsqYvuRKlucgYU", "VouDrawNum": null, "VouDistTypeCode":
        "-Fallback-scrubbed-f", "VouDiscTaken": null, "VouDiscPc": null, "VouDiscDate":
        "-Fallback-scrubbed-rQBiWWwNvXyOsqYvuRKlucgYU", "VouDiscAmt": 520, "VouDiscAllocMethCode":
        "-Fallback-scrubbed-q", "VouDiscreteChqFlag": "-Fallback-scrubbed-P", "VouDfttaxFromCode":
        null, "VouDesc2": null, "VouDesc1": "-Fallback-scrubbed-EqDknzboNQOJaayzAeYLXyMDVAwkAg",
        "VouDeptCodeDist": null, "VouDeptCode": "-Fallback-scrubbed-PJ", "VouDeptAcct":
        null, "VouCurrCode": "-Fallback-scrubbed-Tib", "VouCurcFactorNum": 9854, "VouCreatedByJbFlag":
        null, "VouCostCode": null, "VouContExceedHoldFlag": "-Fallback-scrubbed-P",
        "VouContCode": "-Fallback-scrubbed-LPLSSOBb", "VouContractorPrelimFlag": "-Fallback-scrubbed-P",
        "VouContactCode": "-Fallback-scrubbed-bM", "VouCompCode": "001", "VouCisPc":
        null, "VouCisPayableAmt": null, "VouCisApplicableAmt": null, "VouChqPayeeName":
        null, "VouChqHandleCode": null, "VouChgCode": "-Fallback-scrubbed-Lyy", "VouCatCode":
        null, "VouCashAccCode": "-Fallback-scrubbed-xShA", "VouBchNum": 6777, "VouBchrgInvFlag":
        null, "VouAppr2": null, "VouAppr1": null, "Vou1099Code": "-Fallback-scrubbed-g",
        "VouTax2TaxableAmt": null, "VouTax2IncFlag": null, "VouTax2HldbkCode": "-Fallback-scrubbed-K",
        "VouTax2HldbkAmt": 520, "VouTax2HldbkAdjAmt": null, "VouTax2DiscCode": "-Fallback-scrubbed-P",
        "VouTax2DirectFlag": null, "VouTax2CreditFlag": null, "VouTax2Code": null,
        "VouTax2Amt": 520, "VouTax1TaxableFlag": "-Fallback-scrubbed-C", "VouTax1TaxableAmt":
        null, "VouTax1IncFlag": null, "VouTax1HldbkAdjAmt": null, "VouTax1DirectFlag":
        null, "VouTax1CreditFlag": null, "VouTax1Code": null, "VouSubcontrCode": "-Fallback-scrubbed-iQZZ",
        "VouStatusCode": "-Fallback-scrubbed-n", "VouSplitGroupNum": null, "VouSplitByApplCode":
        null, "VouSourceTypeCode": null, "VouSourceToDate": null, "VouSourceObjectOraseq":
        null, "VouSourceFromDate": null, "VouSktAmt": null, "VouShplCode": null, "VouShipOraseq":
        null, "VouSeparateBillingRefCode": null, "VouSelForVoidFlag": null, "VouScSelfBilledFlag":
        "-Fallback-scrubbed-P", "VouScModifiedFlag": "-Fallback-scrubbed-P", "VouScApprovedFlag":
        "-Fallback-scrubbed-P", "VouScApplyBchNum": null, "VouScmstJobCode": "-Fallback-scrubbed-hnHWd",
        "VouRoutJob": null, "VouRlsWAmt": null, "VouRlsTax2Code": null, "VouRlsTax2Amt":
        null, "VouRlsTax1Code": null, "VouRlsTax1Amt": null, "VouRlsNum": null, "VouRlsInvCode":
        null, "VouRlsDate": null, "VouRlsBchNum": null, "VouRlsAmt": null, "VouRevDate":
        null, "VouRevBchNum": null, "VouRevisionNum": null, "VouResaleInfo": null,
        "VouRemitDesc": null, "VouRegInvNum": null, "VouRecordStatus": "-Fallback-scrubbed-EtoYSyVLY",
        "VouPyTaxVoucherFlag": null, "VouPyIrsTaxType": null, "VouPyIrsTaxPerEndDate":
        null, "VouPyIrsTaxInfoId": null, "VouPrepaidExpAmt": null, "VouPrelienComplPayCode":
        null, "VouPoReleaseNum": null, "VouPoPrtCode": null, "VouPoPickFlag": "-Fallback-scrubbed-P",
        "VouPoNum": null, "VouPostDate": "-Fallback-scrubbed-rQBiWWwNvXyOsqYvuRKlucgYU",
        "VouPayNotes": null, "VouPayCode": "-Fallback-scrubbed-s", "VouPayByManualChqFlag":
        "-Fallback-scrubbed-P", "VouPartnTypeCode": "-Fallback-scrubbed-n", "VouPartnCode":
        "-Fallback-scrubbed-TlE", "VouPartialApprovedAmt": null, "VouPaidAmt": null,
        "VouOrigTaxHldbkAmt": 520, "VouOrigHldbkAmt": 8825, "VouOrigBchNum": null,
        "VouOrigAmt": null, "VouOriginatingVouNum": null, "VouOperationCode": null,
        "VouNum": 251507915, "VouNonZeroOweCompVenCode": "-Fallback-scrubbed-iafNXwkyTOAGifc",
        "VouNodiscAmt": null, "VouNatureOfServices": null, "VouMultiControlJobFlag":
        "-Fallback-scrubbed-A", "VouMiscDiscCode": "-Fallback-scrubbed-P", "VouMiscAmt":
        null, "VouMemoTaxHldbkAmt": null, "VouMemoTaxAmt": null, "VouMemoTax5Amt":
        null, "VouMemoTax4Amt": null, "VouMemoTax3Amt": null, "VouMemoTax2HldbkAmt":
        null, "VouIuUpdateUser": "-Fallback-scrubbed-UaiJTr", "VouIuUpdateDate": "2026-08-04T12:37:30-04:00",
        "VouIuCreateUser": "-Fallback-scrubbed-UaiJTr", "VouIuCreateDate": "2026-08-04T12:33:11-04:00",
        "VouVenCode": "-Fallback-scrubbed-OPgGzbw", "VouVenAddCode": null, "VouVendorInvCode":
        null, "VouValuateToDate": null, "VouValuateFromDate": null, "VouUnpostedRfpInfo":
        null, "VouUnpostedPayCodeOverride": null, "VouTranCode": "-Fallback-scrubbed-g",
        "VouTpPaymodeTypeCode": null, "VouTppayCode": null, "VouTermPc": 520, "VouTaxTreatmentPercent":
        null, "VouTaxHldbkAmt": 520, "VouTaxDiscCode": "-Fallback-scrubbed-P", "VouTaxAmt":
        520, "VouTax5TaxableFlag": "-Fallback-scrubbed-C", "VouTax5TaxableAmt": null,
        "VouTax5IncFlag": null, "VouTax5DiscCode": "-Fallback-scrubbed-P", "VouTax5DirectFlag":
        null, "VouTax5CreditFlag": null, "VouTax5Code": null, "VouTax5Amt": 520, "VouTax4TaxableFlag":
        "-Fallback-scrubbed-C", "VouTax4TaxableAmt": null, "VouTax4IncFlag": null,
        "VouTax4DiscCode": "-Fallback-scrubbed-P", "VouTax4DirectFlag": null, "VouTax4CreditFlag":
        null, "VouTax4Code": null, "VouTax4Amt": 520, "VouTax3TaxableFlag": "-Fallback-scrubbed-C",
        "VouTax3TaxableAmt": null, "VouTax3IncFlag": null, "VouTax3DiscCode": "-Fallback-scrubbed-P",
        "VouTax3DirectFlag": null, "VouTax3CreditFlag": null, "VouTax3Code": null,
        "VouTax3Amt": 520, "VouTax2TaxableFlag": "-Fallback-scrubbed-C", "VouCreatedByManchqFlag":
        "-Fallback-scrubbed-P", "VouAcctDescription": null, "links": [{"rel": "-Fallback-scrubbed-CNBo",
        "href": "-Fallback-scrubbed-zshXQYCCHeBJcxQPumHkvDDXMLNPvGKcdMNmsilAPVoFYzKSMAGvbejZVBTZhUSscgihAIaWrlVcmuAXmXAWfiKyBHFTvYnVfvMZm",
        "name": "Martha Martin", "kind": "-Fallback-scrubbed-XeTb"}, {"rel": "-Fallback-scrubbed-FMQMPThsF",
        "href": "-Fallback-scrubbed-zshXQYCCHeBJcxQPumHkvDDXMLNPvGKcdMNmsilAPVoFYzKSMAGvbejZVBTZhUSscgihAIaWrlVcmuAXmXAWfiKyBHFTvYnVfvMZm",
        "name": "Martha Martin", "kind": "-Fallback-scrubbed-XeTb"}, {"rel": "-Fallback-scrubbed-VQTLv",
        "href": "-Fallback-scrubbed-gkjFUnmbZAYxDrpSdJgYcQcEbtoWTGwkDlXrSvNHChtqarhUhbQFbZGOYdofAVqlQxgKdXcbDaqyTwzhtsuMhztOENJOyWXdppqpOruulzbLuCRQQNotpxIxMFsYxIAISpRiR",
        "name": "Julie Haynes", "kind": "-Fallback-scrubbed-GQUXneuMYz"}]}], "count":
        9854, "hasMore": false, "limit": 6118, "offset": 520, "links": [{"rel": "-Fallback-scrubbed-CNBo",
        "href": "-Fallback-scrubbed-YQklmbypWzAtKHtsrVfUqNHsqtaHZJosDVxlawJjzQivBCthrFwOsTQcHKWkdQhsDWUJobhwyWbpQljjaJtcPKoXymK",
        "name": "Martha Martin", "kind": "-Fallback-scrubbed-GQUXneuMYz"}]}'
    headers:
      Content-Type:
      - application/vnd.oracle.adf.resourcecollection+json
      Link:
      - <http://partner-sandbox-api-basic.cmiccloud.com:80/cmicprtn/ap-rest-api/rest/1/apallvouchers>;rel="self";kind="collection";name="apallvouchers"
      Location:
      - ''
      REST-Framework-Version:
      - '2'
      X-ORACLE-DMS-ECID:
      - 64ded8df-1c62-41c1-b6b9-05e93d6845d5-0000519c
      X-ORACLE-DMS-RID:
      - '0'
    status:
      code: 200
      message: OK
version: 1
