interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/pm-rest-api/rest/1/scmast?limit=500&finder=selectByPostDate%3BAuditDate%3D2000-01-01T00%3A00%3A01%2B0000
  response:
    body:
      string: '{"items": [{"CChangeDesc": "-Fallback-scrubbed-MqiXfOlPxPewrDz", "CNewRevisedDesc":
        "-Fallback-scrubbed-qiHtjUprIxo", "COriginalDesc": "-Fallback-scrubbed-tzmjZkHd",
        "CRecievedDesc": "-Fallback-scrubbed-FjNETgu", "CTitle1": "-Fallback-scrubbed-tzmjZkHd",
        "CTitle2": "-Fallback-scrubbed-dAGiVNuPjDgIZ", "CTitle3": "-Fallback-scrubbed-NFdUvTLFIzJemE",
        "CTitle4": "-Fallback-scrubbed-FjNETgu", "CUnpostedDesc": "-Fallback-scrubbed-rmmEaJhRuWpnDniX",
        "PartnTypeCode": "-Fallback-scrubbed-l", "PostOverrideFlag": "-Fallback-scrubbed-N",
        "ScmstAbbrevPartnCode": "-Fallback-scrubbed-nntpUw", "ScmstAcctDescription":
        null, "ScmstActionCode": null, "ScmstAltVenAddCode": null, "ScmstAppCode":
        null, "ScmstArAmt": null, "ScmstBankAccount": "-Fallback-scrubbed-qNZW", "ScmstBankDept":
        "-Fallback-scrubbed-nK", "ScmstBillCode": null, "ScmstCashAmt": null, "ScmstCdiFlag":
        "-Fallback-scrubbed-S", "ScmstChgCode": "-Fallback-scrubbed-lUc", "ScmstChqHandleCode":
        null, "ScmstCloseDate": null, "ScmstClvValueCode1": null, "ScmstClvValueCode2":
        null, "ScmstClvValueCode3": null, "ScmstClvValueCode4": null, "ScmstClvValueCode5":
        null, "ScmstClvValueCode6": null, "ScmstCmBudrCode": null, "ScmstCmChgCode":
        null, "ScmstCmCompCode": null, "ScmstCmJobCode": null, "ScmstCompCode": "-Fallback-scrubbed-cxu",
        "ScmstComplFlag": "-Fallback-scrubbed-S", "ScmstContAmt": null, "ScmstContCode":
        "-Fallback-scrubbed-lfltQleFnXm", "ScmstContType": "-Fallback-scrubbed-ngVIDJLziua",
        "ScmstContactCode": null, "ScmstContactName": null, "ScmstCorrespAddCode":
        null, "ScmstCreateContOnFlyFlag": "-Fallback-scrubbed-h", "ScmstCurcFactorNum":
        6070, "ScmstCurrCode": "-Fallback-scrubbed-mHK", "ScmstCurrName": "-Fallback-scrubbed-mSRXsfwiD",
        "ScmstDate": "-Fallback-scrubbed-zSoUXrPCLi", "ScmstDefaultTaxesFlag": "-Fallback-scrubbed-h",
        "ScmstDesc": null, "ScmstDfltAmt": null, "ScmstDfltCatCode": null, "ScmstDfltPhsCode":
        null, "ScmstDoNotExceedAmt": null, "ScmstEndDate": "-Fallback-scrubbed-TXqrDxjXtO",
        "ScmstExecutedDate": null, "ScmstGcsPayRequestFlag": "-Fallback-scrubbed-S",
        "ScmstGstAmt": null, "ScmstGstPc": 2678, "ScmstHldbkPc": 2678, "ScmstHldbkPcRule":
        null, "ScmstHldbkRlsFromSc": "-Fallback-scrubbed-h", "ScmstHoldPaymentDays":
        2678, "ScmstHoldPaymentFlag": "-Fallback-scrubbed-h", "ScmstImpactDays": null,
        "ScmstInvEntryState": "-Fallback-scrubbed-Kr", "ScmstInvHldbkTaxFlag": "-Fallback-scrubbed-S",
        "ScmstIssuedDate": null, "ScmstIuCreateDate": "-Fallback-scrubbed-bRFkshCnkrbQitMchZBdbirzN",
        "ScmstIuUpdateDate": "-Fallback-scrubbed-bRFkshCnkrbQitMchZBdbirzN", "ScmstJobCode":
        "-Fallback-scrubbed-oVhKHbDmR", "ScmstJobCtrlCode": "-Fallback-scrubbed-SAL",
        "ScmstMainChgCode": null, "ScmstMainContCode": null, "ScmstMainVenCode": null,
        "ScmstName": "-Fallback-scrubbed-ACSaXOXgnRCszVcLsHlz", "ScmstNonCreditInclTaxAmt":
        null, "ScmstNonCreditTaxAmt": null, "ScmstOrigBidpAmt": null, "ScmstOrigBidpOraseq":
        null, "ScmstOvrrideNotExceedFlag": "-Fallback-scrubbed-S", "ScmstOverrideFlag":
        null, "ScmstPbContCode": null, "ScmstPbCustCode": null, "ScmstPostBatch":
        null, "ScmstPostDate": null, "ScmstPreferedQuoteFlag": "-Fallback-scrubbed-h",
        "ScmstPrintedCoFlag": null, "ScmstProjOraseq": 4730, "ScmstRating": null,
        "ScmstRctReferenceNum": null, "ScmstReceivedDate": null, "ScmstRecipientEmail":
        null, "ScmstRevBatch": null, "ScmstRevDate": null, "ScmstScControlAmt": 2265,
        "ScmstSchedExistsFlag": "-Fallback-scrubbed-S", "ScmstScheduleFlag": "-Fallback-scrubbed-h",
        "ScmstScopeDesc": null, "ScmstScschLastSeqNumUsed": 2678, "ScmstSelfBilledFlag":
        "-Fallback-scrubbed-S", "ScmstSenderEmail": null, "ScmstSepVouPerJobFlag":
        "-Fallback-scrubbed-S", "ScmstSrcCode": "-Fallback-scrubbed-api", "ScmstStartDate":
        "-Fallback-scrubbed-QHvYaRpgDr", "ScmstStatCode": "-Fallback-scrubbed-l",
        "ScmstStatusCode": "-Fallback-scrubbed-dkzJaTk", "ScmstSubcontrCode": "-Fallback-scrubbed-ZgYi",
        "ScmstSubcontractorChgCode": null, "ScmstTax1Code": "-Fallback-scrubbed-Wg",
        "ScmstTax2Code": null, "ScmstTax3Code": null, "ScmstTermCode": "-Fallback-scrubbed-aUNCc",
        "ScmstTermName": "-Fallback-scrubbed-tOdIyy", "ScmstTexturaFlag": "-Fallback-scrubbed-S",
        "ScmstUser": "-Fallback-scrubbed-DGGexO", "ScmstUserPrvlgFlag": "-Fallback-scrubbed-h",
        "ScmstVenCode": "-Fallback-scrubbed-nntpUw", "ScmstVenName": "-Fallback-scrubbed-PFUHxpGejDDiYsZdJKFnzBWeqGTIRARXJe",
        "ScmstVUuid": "-Fallback-scrubbed-OGuhNRhqodhjqDBnbZauFwlIlqkBGDGd", "ScmstDepositAmt":
        2678, "ScmstDepositApprovalDate": null, "ScmstDepositPct": 2678, "ScmstWorkflowStatus":
        null, "ScmstDateTimePost": null, "ScmstPost": null, "links": [{"rel": "-Fallback-scrubbed-dFbn",
        "href": "-Fallback-scrubbed-oZhsYJBpWvSppAGxXblsXGiQfFTAEGgkPtMnlszbhrBbYaVbWATZtwjXKRcLzFIxmeYeusFSwPsshGiJbUmFLDPFgtfdkhJTzjXxzLbCpkejQqQoRAKzn",
        "name": "Brian Montoya", "kind": "-Fallback-scrubbed-OepF"}, {"rel": "-Fallback-scrubbed-ICiXPIhnH",
        "href": "-Fallback-scrubbed-oZhsYJBpWvSppAGxXblsXGiQfFTAEGgkPtMnlszbhrBbYaVbWATZtwjXKRcLzFIxmeYeusFSwPsshGiJbUmFLDPFgtfdkhJTzjXxzLbCpkejQqQoRAKzn",
        "name": "Brian Montoya", "kind": "-Fallback-scrubbed-OepF"}, {"rel": "-Fallback-scrubbed-XNIPn",
        "href": "-Fallback-scrubbed-QinRdXANgnHZjCvrkurBFkImoHLraMCSPQeFwriVGAJlrrRJnolDaScozJuUsrQOORQHdhZkEmLqHpbhngHexaOGuPBnmbDXWRWKHtbgwhpEUriPPEwJxpGadZmQPUwSHWRBAv[...]
