interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/pm-rest-api/rest/1/pmproject?limit=500&finder=selectByPmProjInfo%3BpmprojectDate%3D2000-01-01T00%3A00%3A00%2B0000&q=GrpmpCompCode+%3D+%27001%27
  response:
    body:
      string: '{"items": [{"GrpmpAddContactName": null, "GrpmpAddLine1": null, "GrpmpAddLine2":
        null, "GrpmpAddLine3": null, "GrpmpAgendaItemIdMask": "-Fallback-scrubbed-JvYOGrFXV",
        "GrpmpArchitectName": null, "GrpmpAutoCalcMarkupFlag": "-Fallback-scrubbed-Z",
        "GrpmpBallInCourtReportFlg": "-Fallback-scrubbed-Z", "GrpmpBidDate": null,
        "GrpmpBidJobCode": null, "GrpmpBidJobDeptCode": null, "GrpmpBidJobDeptName":
        null, "GrpmpBidJobName": null, "GrpmpBidMask": "-Fallback-scrubbed-zV", "GrpmpBidMaskOverride":
        "-Fallback-scrubbed-Z", "GrpmpBidMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpBidWonLostDate":
        "-Fallback-scrubbed-fgOjnzEJrz", "GrpmpCalcIssueDtOnWrkdys": "-Fallback-scrubbed-Z",
        "GrpmpCalcOcoDtOnWrkdys": "-Fallback-scrubbed-M", "GrpmpCalcPmntcDtOnWrkdys":
        "-Fallback-scrubbed-Z", "GrpmpCalcPmplDtOnWrkdys": "-Fallback-scrubbed-Z",
        "GrpmpCalcRfiDtOnWrkdys": "-Fallback-scrubbed-Z", "GrpmpCalcSbmtDtOnWrkdys":
        "-Fallback-scrubbed-Z", "GrpmpClosedDate": "-Fallback-scrubbed-pzIlTekZWUAxCCPZZideypgGi",
        "GrpmpClvValueCode1": null, "GrpmpClvValueCode2": null, "GrpmpClvValueCode3":
        null, "GrpmpClvValueCode4": null, "GrpmpClvValueCode5": null, "GrpmpClvValueCode6":
        null, "GrpmpCollabUrl": "-Fallback-scrubbed-tsNwbaAODJwSwVYumjZdHamvgVZQKbtLYFtAoPxydOgmrsrpilLuPTZnhXQCCKeLgNWRUUOAGpNQnqEANqwTqXKJvENNSbbbwiBeFmxfdeWPORbHFmrdWdxWMYlqadfeCfMqhbfRAzKnGznAkjKBRnLtOyedvvktGtQHKUrrlkYIhqQZaWiDbIiGvaImTYXwjIWOJIziFBiDiRLfhWyVdhxbdnOiiXMUjtaUBURmNaPbWJQKILZzNYypnntXKis",
        "GrpmpCommlgMask": "-Fallback-scrubbed-xfJb", "GrpmpCommlgMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpCommlgMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpCompCode": "001",
        "GrpmpCompName": "-Fallback-scrubbed-XlPawnIuvWFszzOItdvRohrdMQBEq", "GrpmpCorrAdd1":
        null, "GrpmpCorrAdd2": null, "GrpmpCorrAdd3": null, "GrpmpCorrAddContactName":
        null, "GrpmpCorrCountry": null, "GrpmpCorrPostalCode": null, "GrpmpCorrRegionCode":
        null, "GrpmpCorrespondenceAddrCode": null, "GrpmpCountry": null, "GrpmpCreateJobFlag":
        "-Fallback-scrubbed-u", "GrpmpCurrContAmt": 8543, "GrpmpCustAdd1": "-Fallback-scrubbed-IWjsdbcFSL",
        "GrpmpCustAdd2": null, "GrpmpCustAdd3": "-Fallback-scrubbed-jdlJnkL", "GrpmpCustAddCode":
        null, "GrpmpCustAddContactName": null, "GrpmpCustCode": "-Fallback-scrubbed-Xlmjxm",
        "GrpmpCustCountry": "-Fallback-scrubbed-JlA", "GrpmpCustName": "-Fallback-scrubbed-JqzmJsoSd",
        "GrpmpCustPostalCode": "-Fallback-scrubbed-gRoPp", "GrpmpCustRegionCode":
        "-Fallback-scrubbed-cI", "GrpmpDayjrMask": "-Fallback-scrubbed-fRZrNxSf",
        "GrpmpDayjrMaskOverride": "-Fallback-scrubbed-Z", "GrpmpDayjrMaskSeqProj":
        "-Fallback-scrubbed-M", "GrpmpDefaultBillTypeCode": "-Fallback-scrubbed-AU",
        "GrpmpDefaultBillTypeName": "-Fallback-scrubbed-PjcUZbYjilBwXRBrtSDvJrGyxVD",
        "GrpmpDefaultBilltoAddCode": null, "GrpmpDefaultBilltoAddName": null, "GrpmpDefaultBuyCode":
        null, "GrpmpDefaultDeliveryPeriod": null, "GrpmpDefaultInvoiceFormat": "-Fallback-scrubbed-fsEN",
        "GrpmpDefaultJbMapCode": "-Fallback-scrubbed-GjZH", "GrpmpDefaultJbMapName":
        "-Fallback-scrubbed-fENAvHQAomeMrxQqhyQWW", "GrpmpDefaultJobBillMethod": "-Fallback-scrubbed-KV",
        "GrpmpDefaultReqCode": null, "GrpmpDefaultRfiPeriod": 7409, "GrpmpDefaultShiptoAddCode":
        null, "GrpmpDefaultShiptoAddName": null, "GrpmpDeptCode": "-Fallback-scrubbed-JVU",
        "GrpmpDeptName": "-Fallback-scrubbed-pMYTGxDrngoWARtXCjmq", "GrpmpDfltCmdetailMode":
        "-Fallback-scrubbed-m", "GrpmpDfltDjAttachmentFlag": "-Fallback-scrubbed-Z",
        "GrpmpDfltDjGeneralFlag": "-Fallback-scrubbed-Z", "GrpmpDfltDjLabForceFlag":
        "-Fallback-scrubbed-Z", "GrpmpDfltDjMaterialsFlag": "-Fallback-scrubbed-Z",
        "GrpmpDfltDjNotesFlag": "-Fallback-scrubbed-Z", "GrpmpDfltDjOeOnJobFlag":
        "-Fallback-scrubbed-Z", "GrpmpDfltDjOwnEqpFlag": "-Fallback-scrubbed-Z", "GrpmpDfltDjOwnLabFlag":
        "-Fallback-scrubbed-Z", "GrpmpDfltDjSafetyFlag": "-Fallback-scrubbed-Z", "GrpmpDfltDjTasksFlag":
        "-Fallback-scrubbed-M", "GrpmpDfltDjTlCompFlag": "-Fallback-scrubbed-M", "GrpmpDfltDjTradeEqpFlag":
        "-Fallback-scrubbed-M", "GrpmpDfltDjTradeLabFlag": "-Fallback-scrubbed-M",
        "GrpmpDfltDjUnitcFlag": "-Fallback-scrubbed-Z", "GrpmpDfltDjVisitorsFlag":
        "-Fallback-scrubbed-Z", "GrpmpDfltInvoiceFormatNm": "-Fallback-scrubbed-LvYdwesRwzkjAyhcjqhxEOcqrKZ",
        "GrpmpDfltIssueRevPeriod": 7409, "GrpmpDfltLeadTimeStage1": 8803, "GrpmpDfltLeadTimeStage2":
        3351, "GrpmpDfltLeadTimeStage3": 8623, "GrpmpDfltLeadTimeStage4": 8803, "GrpmpDfltLeadTimeStage5":
        8623, "GrpmpDfltLeadTimeStage6": 7409, "GrpmpDfltMeetingFootnote": "-Fallback-scrubbed-LgCbDrahIREkMkinEBVukKZuxLoULDYEvMElRWvmcFfJIExKtfddlhCHrXNzDwJNwNtpCPxXcjtwzqZvGmUoGFmIfCEpLHpjljsZiPtAFRrUqxrcSFPwumRIjbKnBgdGL",
        "GrpmpDfltPlistComplPeriod": 7409, "GrpmpDfltPmntcRevPeriod": 7409, "GrpmpDfltRfiContactCode":
        null, "GrpmpDfltRfiContactName": null, "GrpmpDfltRfiPartnCode": null, "GrpmpDfltRfiPartnTypeCode":
        null, "GrpmpDfltRfqReviewDays": 8803, "GrpmpDfltSbmtContactCode": null, "GrpmpDfltSbmtContactName":
        null, "GrpmpDfltSbmtPartnCode": null, "GrpmpDfltSbmtPtnTypeCode": null, "GrpmpEndDate":
        "-Fallback-scrubbed-fimGpqumub", "GrpmpEntryRfiAnsByFlag": "-Fallback-scrubbed-M",
        "GrpmpEntryRfiAnsDateFlag": "-Fallback-scrubbed-M", "GrpmpFaxNum": null, "GrpmpFwdMask":
        "-Fallback-scrubbed-FfF", "GrpmpFwdMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpFwdMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpHardBidFlag": "-Fallback-scrubbed-Z",
        "GrpmpIssueIdMask": "-Fallback-scrubbed-FfF", "GrpmpIssueIdMaskOverride":
        "-Fallback-scrubbed-Z", "GrpmpIssueIdMaskSeqProj": "-Fallback-scrubbed-M",
        "GrpmpItbSenderEmail": null, "GrpmpItbSenderName": null, "GrpmpIuCreateDate":
        "2025-01-22T10:08:08-05:00", "GrpmpIuUpdateDate": "2026-08-03T13:49:39-04:00",
        "GrpmpJobAllowTransFlag": "-Fallback-scrubbed-M", "GrpmpJobBidFlag": "-Fallback-scrubbed-Z",
        "GrpmpJobBillMethCode": "-Fallback-scrubbed-KV", "GrpmpJobBillingTypeCode":
        "-Fallback-scrubbed-AU", "GrpmpJobBillingTypeName": "-Fallback-scrubbed-PjcUZbYjilBwXRBrtSDvJrGyxVD",
        "GrpmpJobCode": "-Fallback-scrubbed-xqltU", "GrpmpJobCreationDate": null,
        "GrpmpJobDeptCode": "-Fallback-scrubbed-JVU", "GrpmpJobDeptName": "-Fallback-scrubbed-pMYTGxDrngoWARtXCjmq",
        "GrpmpJobInvoiceFormatCode": "-Fallback-scrubbed-fsEN", "GrpmpJobInvoiceFormatNm":
        "-Fallback-scrubbed-LvYdwesRwzkjAyhcjqhxEOcqrKZ", "GrpmpJobJbMapCode": "-Fallback-scrubbed-GjZH",
        "GrpmpJobJbMapName": "-Fallback-scrubbed-fENAvHQAomeMrxQqhyQWW", "GrpmpJobName":
        "-Fallback-scrubbed-MlbjaFHLSOECbbFaZrgWIExKZejaxE", "GrpmpJobOrigBudgetEffDate":
        null, "GrpmpJobSecGroup": "-Fallback-scrubbed-zNRULIeJtl", "GrpmpJobStatusCode":
        "-Fallback-scrubbed-I", "GrpmpKeyWordDesc": null, "GrpmpLienWaiverText": null,
        "GrpmpManagerName": null, "GrpmpMeetingIdMask": null, "GrpmpMobileUrl": "-Fallback-scrubbed-tsNwbaAODJwSwVYumjZdHamvgVZQKbtLYFtAoPxydOgmrsrpilLuPTZnhXQCCKeLgNWRUUOAGpNQnqEANqwTqXKJvENNSbbbwiBeFmxfdeWPORbHFmrdWdxWMYlqadfeCfMqhbfRAzKnGznAkjKBRnLtOyedvvktGtQHKUrrlkYIhqQZaWiDbIiGvaImTYXwjIWOJIziFBiDiRLfhWyVdhxbdnOiiXMUjtaUBURmNaPbWJQKILZzNYypnntXKis",
        "GrpmpNoticeMask": "-Fallback-scrubbed-FfF", "GrpmpNoticeMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpNoticeMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpOcoOrigContAmtOvrd":
        "-Fallback-scrubbed-M", "GrpmpOrigContOverrideAmt": null, "GrpmpPartnAbbrevInRfiId":
        "-Fallback-scrubbed-M", "GrpmpPartnAbbrevInTrnsmId": "-Fallback-scrubbed-M",
        "GrpmpPciUseScopeAmtFlag": "-Fallback-scrubbed-Z", "GrpmpPhoneNum": null,
        "GrpmpPmplMask": "-Fallback-scrubbed-zV", "GrpmpPmplMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpPmplMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpPmpliMask": "-Fallback-scrubbed-FfF",
        "GrpmpPmpliMaskSeqProj": "-Fallback-scrubbed-Z", "GrpmpPostalCode": null,
        "GrpmpProjCode": "-Fallback-scrubbed-xqltU", "GrpmpProjCtrlCode": "-Fallback-scrubbed-vDn",
        "GrpmpProjDescription": "-Fallback-scrubbed-kfCMPxKtiCxfyXkskxoIIGOmdlRPJLoIUowmzKeALZygplQ",
        "GrpmpProjEndDtUpdateable": "-Fallback-scrubbed-M", "GrpmpProjName": "-Fallback-scrubbed-MlbjaFHLSOECbbFaZrgWIExKZejaxE",
        "GrpmpProjPhotoUrl": null, "GrpmpRegionCode": null, "GrpmpRegionName": null,
        "GrpmpRfiMask": "-Fallback-scrubbed-xfJb", "GrpmpRfiMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpRfiMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpRsschedVerCode": null,
        "GrpmpRsschedVerName": null, "GrpmpSbmtApprvContactCode": null, "GrpmpSbmtApprvPartnCode":
        null, "GrpmpSbmtApprvPtnTypeCode": null, "GrpmpSbmtMask": "-Fallback-scrubbed-PDAulFmUPM",
        "GrpmpSbmtMaskOverride": "-Fallback-scrubbed-Z", "GrpmpSbmtMaskSeqProj": "-Fallback-scrubbed-M",
        "GrpmpSbmtpMask": "-Fallback-scrubbed-zV", "GrpmpSbmtpMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpSbmtpMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpStartDate": "-Fallback-scrubbed-zrSaYemOFX",
        "GrpmpStartPageUrl": null, "GrpmpStatusCode": "-Fallback-scrubbed-udTnlO",
        "GrpmpSubcontractedVolumeAmt": 8543, "GrpmpSuperintName": null, "GrpmpTrnsmMask":
        "-Fallback-scrubbed-reANEcMSf", "GrpmpTrnsmMaskOverride": "-Fallback-scrubbed-Z",
        "GrpmpTrnsmMaskSeqProj": "-Fallback-scrubbed-M", "GrpmpUseBidItemEaFlag":
        "-Fallback-scrubbed-pz", "GrpmpVUuid": "2C4DDC7AD64A42C4E06331121DACB10C",
        "GrpmpWorkLocCode": null, "GrpmpWorkLocName": null, "GrpmpOwnerCode": null,
        "GrpmpConttypeCode": null, "links": [{"rel": "-Fallback-scrubbed-BlPi", "href":
        "-Fallback-scrubbed-auidpEcCWvwgjCTXLsjJqcBoUvPwcciaLycKobIoDFygYZLCsfpXUQhwJkZNoNNjNrNgOCxdyhTSfYYFIoEalkHTedrchMbWzLVWZkEhttCdSyklORWHPVXD",
        "name": "Crystal Davis", "kind": "-Fallback-scrubbed-nwDX"}, {"rel": "-Fallback-scrubbed-iRTzcEPhi",
        "href": "-Fallback-scrubbed-auidpEcCWvwgjCTXLsjJqcBoUvPwcciaLycKobIoDFygYZLCsfpXUQhwJkZNoNNjNrNgOCxdyhTSfYYFIoEalkHTedrchMbWzLVWZkEhttCdSyklORWHPVXD",
        "name": "Crystal Davis", "kind": "-Fallback-scrubbed-nwDX"}]}, {"GrpmpAddContactName":
        null, "GrpmpAddLine1": null, "GrpmpAddLine2": null, "GrpmpAddLine3": null,
        "GrpmpAgendaItemIdMask": "-Fallback-scrubbed-JvYOGrFXV", "GrpmpArchitectName":
       [...]
