interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/pm-rest-api/rest/1/pmproject?limit=500&finder=selectByPmProjInfo%3BpmprojectDate%3D2000-01-01T00%3A00%3A00%2B0000
  response:
    body:
      string: '{"items": [{"GrpmpAddContactName": null, "GrpmpAddLine1": null, "GrpmpAddLine2":
        null, "GrpmpAddLine3": null, "GrpmpAgendaItemIdMask": "-Fallback-scrubbed-ynAJKWsHD",
        "GrpmpArchitectName": null, "GrpmpAutoCalcMarkupFlag": "-Fallback-scrubbed-b",
        "GrpmpBallInCourtReportFlg": "-Fallback-scrubbed-b", "GrpmpBidDate": null,
        "GrpmpBidJobCode": null, "GrpmpBidJobDeptCode": null, "GrpmpBidJobDeptName":
        null, "GrpmpBidJobName": null, "GrpmpBidMask": "-Fallback-scrubbed-uu", "GrpmpBidMaskOverride":
        "-Fallback-scrubbed-b", "GrpmpBidMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpBidWonLostDate":
        "-Fallback-scrubbed-SXDiCVjjnV", "GrpmpCalcIssueDtOnWrkdys": "-Fallback-scrubbed-b",
        "GrpmpCalcOcoDtOnWrkdys": "-Fallback-scrubbed-H", "GrpmpCalcPmntcDtOnWrkdys":
        "-Fallback-scrubbed-b", "GrpmpCalcPmplDtOnWrkdys": "-Fallback-scrubbed-b",
        "GrpmpCalcRfiDtOnWrkdys": "-Fallback-scrubbed-b", "GrpmpCalcSbmtDtOnWrkdys":
        "-Fallback-scrubbed-b", "GrpmpClosedDate": "-Fallback-scrubbed-KplanEvQafaivipBRYYSYubln",
        "GrpmpClvValueCode1": null, "GrpmpClvValueCode2": null, "GrpmpClvValueCode3":
        null, "GrpmpClvValueCode4": null, "GrpmpClvValueCode5": null, "GrpmpClvValueCode6":
        null, "GrpmpCollabUrl": "-Fallback-scrubbed-paFogdtLuDwsbjRFDoXJQaeFQOPRxesHWzACmaMmuNdvsXzigtUULOfvKIwvvrQFoZTKlzLmqeiMEENRhGUyUVUEUBDYsXohoqOJHHdttRtLBTclAigdlmObyBBDmKcjBmDvcaUWGlmSMEmesqOHqVxuqGyskbfYxYQBBkcgGrguABvxGCuRigXFHSvzrNezlCCuITeqqPDxEMXxNNfDqZAZYIMdTZHmLuQLGhZpHLMVDpWcfcbjzEgbvdhXUuy",
        "GrpmpCommlgMask": "-Fallback-scrubbed-aizT", "GrpmpCommlgMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpCommlgMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpCompCode": "-Fallback-scrubbed-ZnG",
        "GrpmpCompName": "-Fallback-scrubbed-KWTPeloNHamyKvDJtfBoGFBqHEQDr", "GrpmpCorrAdd1":
        null, "GrpmpCorrAdd2": null, "GrpmpCorrAdd3": null, "GrpmpCorrAddContactName":
        null, "GrpmpCorrCountry": null, "GrpmpCorrPostalCode": null, "GrpmpCorrRegionCode":
        null, "GrpmpCorrespondenceAddrCode": null, "GrpmpCountry": null, "GrpmpCreateJobFlag":
        "-Fallback-scrubbed-F", "GrpmpCurrContAmt": 2931, "GrpmpCustAdd1": "-Fallback-scrubbed-jiqzSmRZST",
        "GrpmpCustAdd2": null, "GrpmpCustAdd3": "-Fallback-scrubbed-fsPriYJ", "GrpmpCustAddCode":
        null, "GrpmpCustAddContactName": null, "GrpmpCustCode": "-Fallback-scrubbed-oDHftW",
        "GrpmpCustCountry": "-Fallback-scrubbed-Ulg", "GrpmpCustName": "-Fallback-scrubbed-jdDzIgaSj",
        "GrpmpCustPostalCode": "-Fallback-scrubbed-Chvlx", "GrpmpCustRegionCode":
        "-Fallback-scrubbed-RT", "GrpmpDayjrMask": "-Fallback-scrubbed-wmlRNoKT",
        "GrpmpDayjrMaskOverride": "-Fallback-scrubbed-b", "GrpmpDayjrMaskSeqProj":
        "-Fallback-scrubbed-H", "GrpmpDefaultBillTypeCode": "-Fallback-scrubbed-CN",
        "GrpmpDefaultBillTypeName": "-Fallback-scrubbed-zJGiXmBXqsUJsqmgeakVxSqUXYh",
        "GrpmpDefaultBilltoAddCode": null, "GrpmpDefaultBilltoAddName": null, "GrpmpDefaultBuyCode":
        null, "GrpmpDefaultDeliveryPeriod": null, "GrpmpDefaultInvoiceFormat": "-Fallback-scrubbed-CHhj",
        "GrpmpDefaultJbMapCode": "-Fallback-scrubbed-Gibc", "GrpmpDefaultJbMapName":
        "-Fallback-scrubbed-VHtsnrsdTHkOeyJSHnCHN", "GrpmpDefaultJobBillMethod": "-Fallback-scrubbed-nX",
        "GrpmpDefaultReqCode": null, "GrpmpDefaultRfiPeriod": 1769, "GrpmpDefaultShiptoAddCode":
        null, "GrpmpDefaultShiptoAddName": null, "GrpmpDeptCode": "-Fallback-scrubbed-CvU",
        "GrpmpDeptName": "-Fallback-scrubbed-trnKjKgCSMxRPibkvbNN", "GrpmpDfltCmdetailMode":
        "-Fallback-scrubbed-t", "GrpmpDfltDjAttachmentFlag": "-Fallback-scrubbed-b",
        "GrpmpDfltDjGeneralFlag": "-Fallback-scrubbed-b", "GrpmpDfltDjLabForceFlag":
        "-Fallback-scrubbed-b", "GrpmpDfltDjMaterialsFlag": "-Fallback-scrubbed-b",
        "GrpmpDfltDjNotesFlag": "-Fallback-scrubbed-b", "GrpmpDfltDjOeOnJobFlag":
        "-Fallback-scrubbed-b", "GrpmpDfltDjOwnEqpFlag": "-Fallback-scrubbed-b", "GrpmpDfltDjOwnLabFlag":
        "-Fallback-scrubbed-b", "GrpmpDfltDjSafetyFlag": "-Fallback-scrubbed-b", "GrpmpDfltDjTasksFlag":
        "-Fallback-scrubbed-H", "GrpmpDfltDjTlCompFlag": "-Fallback-scrubbed-H", "GrpmpDfltDjTradeEqpFlag":
        "-Fallback-scrubbed-H", "GrpmpDfltDjTradeLabFlag": "-Fallback-scrubbed-H",
        "GrpmpDfltDjUnitcFlag": "-Fallback-scrubbed-b", "GrpmpDfltDjVisitorsFlag":
        "-Fallback-scrubbed-b", "GrpmpDfltInvoiceFormatNm": "-Fallback-scrubbed-djpuPFOmoIKJRtWBtAIeLvQWjfB",
        "GrpmpDfltIssueRevPeriod": 1769, "GrpmpDfltLeadTimeStage1": 2257, "GrpmpDfltLeadTimeStage2":
        4975, "GrpmpDfltLeadTimeStage3": 8818, "GrpmpDfltLeadTimeStage4": 2257, "GrpmpDfltLeadTimeStage5":
        8818, "GrpmpDfltLeadTimeStage6": 1769, "GrpmpDfltMeetingFootnote": "-Fallback-scrubbed-UBHrzNdOEnxZNCyHFdRooVvySLvskjJtlgzQDCWppcCgYpJadgCTzwcRfSHvRFAEyjLdEXVNMsGitlAvaWTHCyNUVBElLPqIvjaumUtSaGPvBbtOhDGRSCdAyxfyaaLeQ",
        "GrpmpDfltPlistComplPeriod": 1769, "GrpmpDfltPmntcRevPeriod": 1769, "GrpmpDfltRfiContactCode":
        null, "GrpmpDfltRfiContactName": null, "GrpmpDfltRfiPartnCode": null, "GrpmpDfltRfiPartnTypeCode":
        null, "GrpmpDfltRfqReviewDays": 2257, "GrpmpDfltSbmtContactCode": null, "GrpmpDfltSbmtContactName":
        null, "GrpmpDfltSbmtPartnCode": null, "GrpmpDfltSbmtPtnTypeCode": null, "GrpmpEndDate":
        "-Fallback-scrubbed-tUoFSvtypO", "GrpmpEntryRfiAnsByFlag": "-Fallback-scrubbed-H",
        "GrpmpEntryRfiAnsDateFlag": "-Fallback-scrubbed-H", "GrpmpFaxNum": null, "GrpmpFwdMask":
        "-Fallback-scrubbed-ZQQ", "GrpmpFwdMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpFwdMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpHardBidFlag": "-Fallback-scrubbed-b",
        "GrpmpIssueIdMask": "-Fallback-scrubbed-ZQQ", "GrpmpIssueIdMaskOverride":
        "-Fallback-scrubbed-b", "GrpmpIssueIdMaskSeqProj": "-Fallback-scrubbed-H",
        "GrpmpItbSenderEmail": null, "GrpmpItbSenderName": null, "GrpmpIuCreateDate":
        "-Fallback-scrubbed-meiQklfWYLgKASlIVugWMbWCe", "GrpmpIuUpdateDate": "-Fallback-scrubbed-qeZOBwzMastNxFZXnjDTDPFge",
        "GrpmpJobAllowTransFlag": "-Fallback-scrubbed-H", "GrpmpJobBidFlag": "-Fallback-scrubbed-b",
        "GrpmpJobBillMethCode": "-Fallback-scrubbed-nX", "GrpmpJobBillingTypeCode":
        "-Fallback-scrubbed-CN", "GrpmpJobBillingTypeName": "-Fallback-scrubbed-zJGiXmBXqsUJsqmgeakVxSqUXYh",
        "GrpmpJobCode": "-Fallback-scrubbed-eoYID", "GrpmpJobCreationDate": null,
        "GrpmpJobDeptCode": "-Fallback-scrubbed-CvU", "GrpmpJobDeptName": "-Fallback-scrubbed-trnKjKgCSMxRPibkvbNN",
        "GrpmpJobInvoiceFormatCode": "-Fallback-scrubbed-CHhj", "GrpmpJobInvoiceFormatNm":
        "-Fallback-scrubbed-djpuPFOmoIKJRtWBtAIeLvQWjfB", "GrpmpJobJbMapCode": "-Fallback-scrubbed-Gibc",
        "GrpmpJobJbMapName": "-Fallback-scrubbed-VHtsnrsdTHkOeyJSHnCHN", "GrpmpJobName":
        "-Fallback-scrubbed-CmkYPKZHKHjGKXPEGUNDfhiEofOTLx", "GrpmpJobOrigBudgetEffDate":
        null, "GrpmpJobSecGroup": "-Fallback-scrubbed-YGvykDmjlY", "GrpmpJobStatusCode":
        "-Fallback-scrubbed-K", "GrpmpKeyWordDesc": null, "GrpmpLienWaiverText": null,
        "GrpmpManagerName": null, "GrpmpMeetingIdMask": null, "GrpmpMobileUrl": "-Fallback-scrubbed-paFogdtLuDwsbjRFDoXJQaeFQOPRxesHWzACmaMmuNdvsXzigtUULOfvKIwvvrQFoZTKlzLmqeiMEENRhGUyUVUEUBDYsXohoqOJHHdttRtLBTclAigdlmObyBBDmKcjBmDvcaUWGlmSMEmesqOHqVxuqGyskbfYxYQBBkcgGrguABvxGCuRigXFHSvzrNezlCCuITeqqPDxEMXxNNfDqZAZYIMdTZHmLuQLGhZpHLMVDpWcfcbjzEgbvdhXUuy",
        "GrpmpNoticeMask": "-Fallback-scrubbed-ZQQ", "GrpmpNoticeMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpNoticeMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpOcoOrigContAmtOvrd":
        "-Fallback-scrubbed-H", "GrpmpOrigContOverrideAmt": null, "GrpmpPartnAbbrevInRfiId":
        "-Fallback-scrubbed-H", "GrpmpPartnAbbrevInTrnsmId": "-Fallback-scrubbed-H",
        "GrpmpPciUseScopeAmtFlag": "-Fallback-scrubbed-b", "GrpmpPhoneNum": null,
        "GrpmpPmplMask": "-Fallback-scrubbed-uu", "GrpmpPmplMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpPmplMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpPmpliMask": "-Fallback-scrubbed-ZQQ",
        "GrpmpPmpliMaskSeqProj": "-Fallback-scrubbed-b", "GrpmpPostalCode": null,
        "GrpmpProjCode": "-Fallback-scrubbed-eoYID", "GrpmpProjCtrlCode": "-Fallback-scrubbed-Oce",
        "GrpmpProjDescription": "-Fallback-scrubbed-kmdLNTfMOwSLduuvSDwOCLNZXCANEKXeLUQFKjdaGEeHuBd",
        "GrpmpProjEndDtUpdateable": "-Fallback-scrubbed-H", "GrpmpProjName": "-Fallback-scrubbed-CmkYPKZHKHjGKXPEGUNDfhiEofOTLx",
        "GrpmpProjPhotoUrl": null, "GrpmpRegionCode": null, "GrpmpRegionName": null,
        "GrpmpRfiMask": "-Fallback-scrubbed-aizT", "GrpmpRfiMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpRfiMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpRsschedVerCode": null,
        "GrpmpRsschedVerName": null, "GrpmpSbmtApprvContactCode": null, "GrpmpSbmtApprvPartnCode":
        null, "GrpmpSbmtApprvPtnTypeCode": null, "GrpmpSbmtMask": "-Fallback-scrubbed-CPpGDZaBwV",
        "GrpmpSbmtMaskOverride": "-Fallback-scrubbed-b", "GrpmpSbmtMaskSeqProj": "-Fallback-scrubbed-H",
        "GrpmpSbmtpMask": "-Fallback-scrubbed-uu", "GrpmpSbmtpMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpSbmtpMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpStartDate": "-Fallback-scrubbed-NWVBOvieur",
        "GrpmpStartPageUrl": null, "GrpmpStatusCode": "-Fallback-scrubbed-xfhimZ",
        "GrpmpSubcontractedVolumeAmt": 2931, "GrpmpSuperintName": null, "GrpmpTrnsmMask":
        "-Fallback-scrubbed-vUXIdOAFb", "GrpmpTrnsmMaskOverride": "-Fallback-scrubbed-b",
        "GrpmpTrnsmMaskSeqProj": "-Fallback-scrubbed-H", "GrpmpUseBidItemEaFlag":
        "-Fallback-scrubbed-IK", "GrpmpVUuid": "-Fallback-scrubbed-LnGSLlAorTTsWPFadGMbINoSByUdMBlC",
        "GrpmpWorkLocCode": null, "GrpmpWorkLocName": null, "GrpmpOwnerCode": null,
        "GrpmpConttypeCode": null, "links": [{"rel": "-Fallback-scrubbed-jKVe", "href":
        "-Fallback-scrubbed-kUtUAXIaEUHYDfRPxALNseLfbjkMtqotxncUFgdkglZzEbzTalmtXVXvFWdnAyqqoUAFqWSHLReqFrIDDMYzzFqtXRnjlbXRFUSQDMcNAbXcFiGIjWcpyQqK",
        "name": "Miss Latasha Roberts MD", "kind": "-Fallback-scrubbed-UpoT"}, {"rel":
        "-Fallback-scrubbed-ldpgJNLqI", "href": "-Fallback-scrubbed-kUtUAXIaEUHYDfRPxALNseLfbjkMtqotxncUFgdkglZzEbzTalmtXVXvFWdnAyqqoUAFqWSHLReqFrIDDMYzzFqtXRnjlbXRFUSQDMcNAbXcFiGIjWcpyQqK",
        "name": "Miss Latasha Roberts MD", "kind": "-Fallback-scrubbed-UpoT"}]}, {"GrpmpAddContactName":
        null, "GrpmpAddLine1": null, "GrpmpAddLine2": null, "GrpmpAddLine3": null,
        "GrpmpAgendaItemIdMask": "-Fallback-scrubbed-ynAJKWsHD", "GrpmpArchitectName[...]
