interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apinsurance?limit=500&q=InsCoverTypeCode+%3D+%27COI%27+and+%28InsIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+InsIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27%29
  response:
    body:
      string: '{"items": [{"InsAmt": null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-k",
        "InsCScAutoAssignFlag": "-Fallback-scrubbed-k", "InsCertLoc": null, "InsCertNum":
        "-Fallback-scrubbed-jgJINHpqpRAUV", "InsCompCode": null, "InsComplType": "-Fallback-scrubbed-ggW",
        "InsComplianceFlag": "-Fallback-scrubbed-k", "InsCoverTypeCode": "-Fallback-scrubbed-qSy",
        "InsCoverTypeDesc": "-Fallback-scrubbed-uhmoPDtPVFQBZTngrasJMixa", "InsDateComplianceFlag":
        "-Fallback-scrubbed-k", "InsDateSensitiveFlag": "-Fallback-scrubbed-a", "InsDeleteFlag":
        "-Fallback-scrubbed-a", "InsEndDate": null, "InsInscompCode": "-Fallback-scrubbed-v",
        "InsInscompName": "-Fallback-scrubbed-usOZCxVWxYmQON", "InsNotesFlag": null,
        "InsPoAutoAssignFlag": "-Fallback-scrubbed-k", "InsPoNum": null, "InsPoReleaseNum":
        null, "InsScAutoAssignFlag": "-Fallback-scrubbed-k", "InsScContCode": null,
        "InsScJobCode": null, "InsStartDate": null, "InsUpdateDate": null, "InsUpdateFlag":
        "-Fallback-scrubbed-a", "InsUpdateUser": null, "InsVUuid": "-Fallback-scrubbed-IxrtyClRFjfrBADdHVGcEdcQviaUlOhO",
        "InsVenCode": "-Fallback-scrubbed-NJbbgt", "InsVouNum": null, "InsVouRemitDesc":
        null, "OrigCertNum": "-Fallback-scrubbed-jgJINHpqpRAUV", "OrigInscompCode":
        "-Fallback-scrubbed-v", "InsApriVUuid": null, "InsApriInvCode": null, "InsIuCreateDate":
        "-Fallback-scrubbed-fgZcEWUwQdCSZFXOjqQsiQUFN", "InsIuUpdateDate": null, "InsUpdateVoucher":
        "-Fallback-scrubbed-k", "links": [{"rel": "-Fallback-scrubbed-DMsP", "href":
        "-Fallback-scrubbed-NIEewynMkhwXBTHhMCFeJcxzhgBciGwzfXdaVOpHSOCnMfythZDGGIUuMEoKScZjuyrYxqBHBRKOhvoUzBLdTWmffmObtfRSbfveqbBzvpLhaYiLmHPWnSEPcg",
        "name": "Mary Smith", "kind": "-Fallback-scrubbed-WhHU"}, {"rel": "-Fallback-scrubbed-BKcEomIEa",
        "href": "-Fallback-scrubbed-NIEewynMkhwXBTHhMCFeJcxzhgBciGwzfXdaVOpHSOCnMfythZDGGIUuMEoKScZjuyrYxqBHBRKOhvoUzBLdTWmffmObtfRSbfveqbBzvpLhaYiLmHPWnSEPcg",
        "name": "Mary Smith", "kind": "-Fallback-scrubbed-WhHU"}]}, {"InsAmt": null,
        "InsCPoAutoAssignFlag": "-Fallback-scrubbed-k", "InsCScAutoAssignFlag": "-Fallback-scrubbed-k",
        "InsCertLoc": null, "InsCertNum": "-Fallback-scrubbed-AhIHLArekXYZE", "In[...]
