interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apinsurance?limit=500&q=%28InsIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+InsIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27%29
  response:
    body:
      string: '{"items": [{"InsAmt": null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-C",
        "InsCScAutoAssignFlag": "-Fallback-scrubbed-C", "InsCertLoc": null, "InsCertNum":
        "-Fallback-scrubbed-yQjdFtxsUDmHE", "InsCompCode": null, "InsComplType": "-Fallback-scrubbed-HGO",
        "InsComplianceFlag": "-Fallback-scrubbed-C", "InsCoverTypeCode": "COI", "InsCoverTypeDesc":
        "-Fallback-scrubbed-xEASoDNGRcrGkxGYOTcOODus", "InsDateComplianceFlag": "-Fallback-scrubbed-C",
        "InsDateSensitiveFlag": "-Fallback-scrubbed-t", "InsDeleteFlag": "-Fallback-scrubbed-t",
        "InsEndDate": null, "InsInscompCode": "-Fallback-scrubbed-i", "InsInscompName":
        "-Fallback-scrubbed-XuGNRfzDjJwUQF", "InsNotesFlag": null, "InsPoAutoAssignFlag":
        "-Fallback-scrubbed-C", "InsPoNum": null, "InsPoReleaseNum": null, "InsScAutoAssignFlag":
        "-Fallback-scrubbed-C", "InsScContCode": null, "InsScJobCode": null, "InsStartDate":
        null, "InsUpdateDate": null, "InsUpdateFlag": "-Fallback-scrubbed-t", "InsUpdateUser":
        null, "InsVUuid": "4C36D45FD3AF0BCAE06331121DAC5B4E", "InsVenCode": "-Fallback-scrubbed-OZgyRf",
        "InsVouNum": null, "InsVouRemitDesc": null, "OrigCertNum": "-Fallback-scrubbed-yQjdFtxsUDmHE",
        "OrigInscompCode": "-Fallback-scrubbed-i", "InsApriVUuid": null, "InsApriInvCode":
        null, "InsIuCreateDate": "2026-03-04T12:08:17-05:00", "InsIuUpdateDate": null,
        "InsUpdateVoucher": "-Fallback-scrubbed-C", "links": [{"rel": "-Fallback-scrubbed-dyka",
        "href": "-Fallback-scrubbed-vykJFFwmlDOOvwcwurCTNiCziWtNRGQggJmNeXHFqafymlhYaqTyzAuFEQfEtPVwFlAwtPKdXPFKSUCXwjhPudvNPgQpasVeSiZvOujGWhodrqMUASTtKKgFOW",
        "name": "Kelly Johnson", "kind": "-Fallback-scrubbed-pDOH"}, {"rel": "-Fallback-scrubbed-vvMjqCxgU",
        "href": "-Fallback-scrubbed-vykJFFwmlDOOvwcwurCTNiCziWtNRGQggJmNeXHFqafymlhYaqTyzAuFEQfEtPVwFlAwtPKdXPFKSUCXwjhPudvNPgQpasVeSiZvOujGWhodrqMUASTtKKgFOW",
        "name": "Kelly Johnson", "kind": "-Fallback-scrubbed-pDOH"}]}, {"InsAmt":
        null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-C", "InsCScAutoAssignFlag":
        "-Fallback-scrubbed-C", "InsCertLoc": null, "InsCertNum": "-Fallback-scrubbed-VfONyGQuwSONE",
[...]
