interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apinsurance?limit=500&q=InsCompCode+%3D+%27001%27+and+%28%28InsIuUpdateDate+%3E%3D+%272026-08-03T14%3A57%3A25-0400%27+or+InsIuCreateDate+%3E%3D+%272026-08-03T14%3A57%3A25-0400%27%29%29
  response:
    body:
      string: '{"items": [{"InsAmt": null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-U",
        "InsCScAutoAssignFlag": "-Fallback-scrubbed-c", "InsCertLoc": null, "InsCertNum":
        "-Fallback-scrubbed-J", "InsCompCode": "001", "InsComplType": "-Fallback-scrubbed-zcF",
        "InsComplianceFlag": "-Fallback-scrubbed-c", "InsCoverTypeCode": "COI", "InsCoverTypeDesc":
        "-Fallback-scrubbed-oDooPBmcMDjKhJLIFTNUhpax", "InsDateComplianceFlag": "-Fallback-scrubbed-c",
        "InsDateSensitiveFlag": "-Fallback-scrubbed-c", "InsDeleteFlag": "-Fallback-scrubbed-c",
        "InsEndDate": "-Fallback-scrubbed-RBsodgVNxO", "InsInscompCode": "-Fallback-scrubbed-J",
        "InsInscompName": "-Fallback-scrubbed-ruNXKukZjPwemW", "InsNotesFlag": null,
        "InsPoAutoAssignFlag": "-Fallback-scrubbed-U", "InsPoNum": null, "InsPoReleaseNum":
        null, "InsScAutoAssignFlag": "-Fallback-scrubbed-U", "InsScContCode": null,
        "InsScJobCode": null, "InsStartDate": "-Fallback-scrubbed-bmmhunJbWJ", "InsUpdateDate":
        null, "InsUpdateFlag": "-Fallback-scrubbed-c", "InsUpdateUser": null, "InsVUuid":
        "583C35F2C021AC24E06331121DAC9F3F", "InsVenCode": "-Fallback-scrubbed-wtEpmvF",
        "InsVouNum": 4455, "InsVouRemitDesc": null, "OrigCertNum": "-Fallback-scrubbed-J",
        "OrigInscompCode": "-Fallback-scrubbed-J", "InsApriVUuid": null, "InsApriInvCode":
        null, "InsIuCreateDate": "2026-08-04T12:33:11-04:00", "InsIuUpdateDate": null,
        "InsUpdateVoucher": "-Fallback-scrubbed-U", "links": [{"rel": "-Fallback-scrubbed-ppqf",
        "href": "-Fallback-scrubbed-wPBmrQleFDIuLXPDjGUmrprUeoWvBjBkkTGMqsZCzJWxpEBCAvKMneHDqYrXsIqKbDfDdmGCjBmMtDXYNJuoDkkgsJBVgFCrpJuWhscUvdthtaagZEWNnkfnvL",
        "name": "Sarah Preston", "kind": "-Fallback-scrubbed-Qasz"}, {"rel": "-Fallback-scrubbed-lxwGBUosm",
        "href": "-Fallback-scrubbed-wPBmrQleFDIuLXPDjGUmrprUeoWvBjBkkTGMqsZCzJWxpEBCAvKMneHDqYrXsIqKbDfDdmGCjBmMtDXYNJuoDkkgsJBVgFCrpJuWhscUvdthtaagZEWNnkfnvL",
        "name": "Sarah Preston", "kind": "-Fallback-scrubbed-Qasz"}]}, {"InsAmt":
        null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-U", "InsCScAutoAssignFlag":
        "-Fallback-scrubbed-c", "InsCertLoc": null, "InsCertNum": "-Fallback-scrubbed-J",
        "Ins[...]
