interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apvendor?limit=500&finder=selectByDate%3BauditDate%3D2000-01-01T00%3A00%3A01%2B0000
  response:
    body:
      string: '{"items": [{"BpvenCompCode": "-Fallback-scrubbed-UuW", "BpvenCompName":
        "-Fallback-scrubbed-KoZKyPKyRJLICoXpCRGGLvaLrLonQ", "BpvenBpCode": "-Fallback-scrubbed-FdbqLaW",
        "BpvenBpName": "-Fallback-scrubbed-oMqqSgkYyOxDUbmK", "BpvenPayAdd1": "-Fallback-scrubbed-gtyEMMMzxKm",
        "BpvenPayAdd2": null, "BpvenPayAdd3": "-Fallback-scrubbed-TXnoHBpQgd", "BpvenPayRegionCode":
        "-Fallback-scrubbed-ad", "BpvenPayRegionName": null, "BpvenPayCountry": "-Fallback-scrubbed-SJF",
        "BpvenPayPostalCode": "-Fallback-scrubbed-CKdnZ", "BpvenPayContactName": null,
        "BpvenPayPhone": "-Fallback-scrubbed-twcvJlubwP", "BpvenPayFax": null, "BpvenPayEmail":
        null, "BpvenWebSite": null, "BpvenBuyCode": null, "BpvenClassCode": null,
        "BpvenClassName": null, "BpvenStatusCode": "-Fallback-scrubbed-U", "BpvenPrefCode":
        null, "BpvenPrefName": null, "BpvenTermCode": "-Fallback-scrubbed-sYzrh",
        "BpvenTermName": "-Fallback-scrubbed-DyzYPf", "Bpven1099Code": "-Fallback-scrubbed-S",
        "Bpven1099Name": "-Fallback-scrubbed-PXbZeXhQngPowfpkCmlDGzBQIgQ", "BpvenAltAddCode":
        null, "BpvenAltAddName": null, "BpvenShpinstDesc": null, "BpvenActiveFlag":
        "-Fallback-scrubbed-n", "Bpven5018RepFlag": "-Fallback-scrubbed-T", "BpvenOneTimeFlag":
        "-Fallback-scrubbed-Z", "BpvenUseApctrlComplFlag": null, "BpvenSpecialTermsFlag":
        "-Fallback-scrubbed-Z", "BpvenOrdAdd1": "-Fallback-scrubbed-gtyEMMMzxKm",
        "BpvenOrdAdd2": null, "BpvenOrdAdd3": "-Fallback-scrubbed-TXnoHBpQgd", "BpvenOrdRegionCode":
        "-Fallback-scrubbed-ad", "BpvenOrdCountry": "-Fallback-scrubbed-SJF", "BpvenOrdPostalCode":
        "-Fallback-scrubbed-CKdnZ", "BpvenOrdContactName": null, "BpvenOrdPhone":
        "-Fallback-scrubbed-twcvJlubwP", "BpvenOrdFax": null, "BpvenOrdEmail": null,
        "BpvenCurrCode": "-Fallback-scrubbed-JZK", "BpvenInvSerCode": null, "BpvenDistTypeCode":
        "-Fallback-scrubbed-Y", "BpvenHldbkPc": null, "BpvenAllowTranFlag": "-Fallback-scrubbed-n",
        "BpvenCheckMergeFlag": "-Fallback-scrubbed-Z", "BpvenDiscreteChqFlag": "-Fallback-scrubbed-Z",
        "BpvenPrenoteFlag": null, "BpvenTppayCode": null, "BpvenDefaultPayCode": "-Fallback-scrubbed-Z",
        "BpvenEftFlag": null, "BpvenEftEmail": null, "BpvenPrefContactMth": "-Fallback-scrubbed-w",
        "BpvenEmpNo": null, "BpvenBankCode": null, "BpvenBankAccNum1": null, "BpvenBankAccNum2":
        null, "BpvenBankAccNum3": null, "BpvenPaymodeId": null, "BpvenIbanNum": null,
        "BpvenSwiftBicCode": null, "BpvenApDeptCode": "-Fallback-scrubbed-Qf", "BpvenApAccCode":
        "-Fallback-scrubbed-VXUq", "BpvenCashDeptCode": "-Fallback-scrubbed-Qf", "BpvenCashAccCode":
        "-Fallback-scrubbed-noOK", "BpvenExpDeptCode": "-Fallback-scrubbed-Qf", "BpvenExpAccCode":
        "-Fallback-scrubbed-hjnn", "BpvenPpeDeptCode": "-Fallback-scrubbed-Qf", "BpvenPpeAccCode":
        "-Fallback-scrubbed-RsKL", "BpvenDiscDeptCode": "-Fallback-scrubbed-Qf", "BpvenDiscAccCode":
        "-Fallback-scrubbed-KybJ", "BpvenHldbkDeptCode": "-Fallback-scrubbed-Qf",
        "BpvenHldbkAccCode": "-Fallback-scrubbed-fSFp", "BpvenTax1Code": null, "BpvenTaxlic1":
        null, "BpvenTax2Code": null, "BpvenTaxlic2": null, "BpvenTax3Code": null,
        "BpvenTaxlic3": null, "BpvenTax4Code": null, "BpvenTaxlic4": null, "BpvenTax5Code":
        null, "BpvenTaxlic5": null, "BpvenVUuid": "-Fallback-scrubbed-PCIaSkVdVceQxJqWJYocoKQRuREglsxl",
        "BpvenIuCreateDate": "-Fallback-scrubbed-vTgvQEdZpBqewbYAWBfGjsfsG", "BpvenIuUpdateDate":
        "-Fallback-scrubbed-prAYTMQQlYNfTNjokTLjOYndc", "BpIuCreateDate": "-Fallback-scrubbed-vTgvQEdZpBqewbYAWBfGjsfsG",
        "BpIuUpdateDate": "-Fallback-scrubbed-UCCGwkyJpRMXwcZneKAiXkWmm", "BpvenEftPaymentType":
        null, "links": [{"rel": "-Fallback-scrubbed-aqUV", "href": "-Fallback-scrubbed-GxpMnLwUPWCnePJlMbSqdqxTlqxtDDBQgLGiUlAlACdBvDfPIkJFJKHqVKDsCbHoogfVTHoKAZOLXafAjbwaPwYqoBtqKZFvOQsiCsdIeMNjEhmLbsMlVpy",
        "name": "Bryan Henry", "kind": "-Fallback-scrubbed-kEyK"}, {"rel": "-Fallback-scrubbed-sDsTOHbXY",
        "href": "-Fallback-scrubbed-GxpMnLwUPWCnePJlMbSqdqxTlqxtDDBQgLGiUlAlACdBvDfPIkJFJKHqVKDsCbHoogfVTHoKAZOLXafAjbwaPwYqoBtqKZFvOQsiCsdIeMNjEhmLbsMlVpy",
        "name": "Bryan Henry", "kind": "-Fallback-scrubbed-kEyK"}]}, {"BpvenCompCode":
        "-Fallback-scrubbed-UuW", "BpvenCompName": "-Fallback-scrubbed-KoZKyPKyRJLICoXpCRGGLvaLrLonQ",
        "BpvenBpCode": "-Fallback-scrubbed-rtFCSP", "BpvenBpName": "-Fallback-scrub[...]
