interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apallvouchers?limit=500&q=VouIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+VouIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27
  response:
    body:
      string: '{"items": [{"VouMemoTax2Amt": null, "VouMemoHldbkAmt": null, "VouMemoDiscAmt":
        null, "VouMemoAmt": null, "VouMaterialInvFlag": "-Fallback-scrubbed-P", "VouLastPayAmt":
        6401, "VouJobCompCode": "-Fallback-scrubbed-pWn", "VouJobCode": "-Fallback-scrubbed-ieVHv",
        "VouInvSeriesCode": null, "VouInvOutstandAmt": 5926, "VouInvHldbkTaxFlag":
        "-Fallback-scrubbed-P", "VouInvDate": "-Fallback-scrubbed-reITUwqxramQHsLSObibSYRtF",
        "VouInvCode": "-Fallback-scrubbed-TUJRvMcTgTKYe", "VouInvAmt": 1563, "VouImportInfo":
        null, "VouImportingGoodsFlag": "-Fallback-scrubbed-P", "VouImageFilename":
        null, "VouHoldPaymentFlag": "-Fallback-scrubbed-Z", "VouHoldPaymentDays":
        5926, "VouHoldFlag": "-Fallback-scrubbed-P", "VouHldbkPc": 5106, "VouHldbkPaid":
        5926, "VouHldbkAmt": 229, "VouGsthldbkCode": "-Fallback-scrubbed-u", "VouFuncFactorNum":
        null, "VouFrtDiscCode": "-Fallback-scrubbed-P", "VouFrtAmt": null, "VouFiscalCode":
        null, "VouFinalRfpFlag": "-Fallback-scrubbed-P", "VouExpDeptCode": null, "VouEnteredAmt":
        1563, "VouEftFlag": "-Fallback-scrubbed-P", "VouDuplicateId": null, "VouDueDate":
        "-Fallback-scrubbed-YHSYsCbSzwdMoHBfwlObvfRYK", "VouDrawNum": null, "VouDistTypeCode":
        "-Fallback-scrubbed-P", "VouDiscTaken": 5926, "VouDiscPc": null, "VouDiscDate":
        "-Fallback-scrubbed-reITUwqxramQHsLSObibSYRtF", "VouDiscAmt": 5926, "VouDiscAllocMethCode":
        "-Fallback-scrubbed-y", "VouDiscreteChqFlag": "-Fallback-scrubbed-P", "VouDfttaxFromCode":
        null, "VouDesc2": null, "VouDesc1": "-Fallback-scrubbed-IRlzfAtqYmGZuBhacwoQUJnTlZIsNM",
        "VouDeptCodeDist": null, "VouDeptCode": "-Fallback-scrubbed-Jl", "VouDeptAcct":
        null, "VouCurrCode": "-Fallback-scrubbed-UDT", "VouCurcFactorNum": 5386, "VouCreatedByJbFlag":
        null, "VouCostCode": null, "VouContExceedHoldFlag": "-Fallback-scrubbed-P",
        "VouContCode": "-Fallback-scrubbed-okmRxzxI", "VouContractorPrelimFlag": "-Fallback-scrubbed-P",
        "VouContactCode": "-Fallback-scrubbed-jy", "VouCompCode": "-Fallback-scrubbed-pWn",
        "VouCisPc": null, "VouCisPayableAmt": null, "VouCisApplicableAmt": null, "VouChqPayeeName":
        null, "VouChqHandleCode": null, "VouChgCode": "-Fallback-scrubbed-FDd", "VouCatCode":
        null, "VouCashAccCode": "-Fallback-scrubbed-XqpX", "VouBchNum": 5448, "VouBchrgInvFlag":
        null, "VouAppr2": null, "VouAppr1": null, "Vou1099Code": "-Fallback-scrubbed-o",
        "VouTax2TaxableAmt": null, "VouTax2IncFlag": null, "VouTax2HldbkCode": "-Fallback-scrubbed-u",
        "VouTax2HldbkAmt": 5926, "VouTax2HldbkAdjAmt": null, "VouTax2DiscCode": "-Fallback-scrubbed-P",
        "VouTax2DirectFlag": null, "VouTax2CreditFlag": null, "VouTax2Code": null,
        "VouTax2Amt": 5926, "VouTax1TaxableFlag": "-Fallback-scrubbed-Z", "VouTax1TaxableAmt":
        null, "VouTax1IncFlag": null, "VouTax1HldbkAdjAmt": null, "VouTax1DirectFlag":
        null, "VouTax1CreditFlag": null, "VouTax1Code": null, "VouSubcontrCode": "-Fallback-scrubbed-Ilfs",
        "VouStatusCode": "-Fallback-scrubbed-D", "VouSplitGroupNum": null, "VouSplitByApplCode":
        null, "VouSourceTypeCode": null, "VouSourceToDate": null, "VouSourceObjectOraseq":
        null, "VouSourceFromDate": null, "VouSktAmt": null, "VouShplCode": null, "VouShipOraseq":
        null, "VouSeparateBillingRefCode": null, "VouSelForVoidFlag": null, "VouScSelfBilledFlag":
        "-Fallback-scrubbed-P", "VouScModifiedFlag": "-Fallback-scrubbed-P", "VouScApprovedFlag":
        "-Fallback-scrubbed-P", "VouScApplyBchNum": null, "VouScmstJobCode": "-Fallback-scrubbed-ieVHv",
        "VouRoutJob": null, "VouRlsWAmt": null, "VouRlsTax2Code": null, "VouRlsTax2Amt":
        null, "VouRlsTax1Code": null, "VouRlsTax1Amt": null, "VouRlsNum": null, "VouRlsInvCode":
        null, "VouRlsDate": null, "VouRlsBchNum": null, "VouRlsAmt": null, "VouRevDate":
        null, "VouRevBchNum": null, "VouRevisionNum": null, "VouResaleInfo": null,
        "VouRemitDesc": null, "VouRegInvNum": null, "VouRecordStatus": "-Fallback-scrubbed-qriRyFZCV",
        "VouPyTaxVoucherFlag": null, "VouPyIrsTaxType": null, "VouPyIrsTaxPerEndDate":
        null, "VouPyIrsTaxInfoId": null, "VouPrepaidExpAmt": null, "VouPrelienComplPayCode":
        null, "VouPoReleaseNum": null, "VouPoPrtCode": null, "VouPoPickFlag": "-Fallback-scrubbed-P",
        "VouPoNum": null, "VouPostDate": "-Fallback-scrubbed-reITUwqxramQHsLSObibSYRtF",
        "VouPayNotes": null, "VouPayCode": "-Fallback-scrubbed-P", "VouPayByManualChqFlag":
        "-Fallback-scrubbed-P", "VouPartnTypeCode": "-Fallback-scrubbed-D", "VouPartnCode":
        "-Fallback-scrubbed-pWn", "VouPartialApprovedAmt": null, "VouPaidAmt": 6401,
        "VouOrigTaxHldbkAmt": 5926, "VouOrigHldbkAmt": 229, "VouOrigBchNum": null,
        "VouOrigAmt": null, "VouOriginatingVouNum": null, "VouOperationCode": null,
        "VouNum": 179, "VouNonZeroOweCompVenCode": null, "VouNodiscAmt": null, "VouNatureOfServices":
        null, "VouMultiControlJobFlag": "-Fallback-scrubbed-f", "VouMiscDiscCode":
        "-Fallback-scrubbed-P", "VouMiscAmt": null, "VouMemoTaxHldbkAmt": null, "VouMemoTaxAmt":
        null, "VouMemoTax5Amt": null, "VouMemoTax4Amt": null, "VouMemoTax3Amt": null,
        "VouMemoTax2HldbkAmt": null, "VouIuUpdateUser": "-Fallback-scrubbed-PKFsTy",
        "VouIuUpdateDate": "-Fallback-scrubbed-rygAJVnUoVdbDdzkubYTOnPyu", "VouIuCreateUser":
        "-Fallback-scrubbed-PKFsTy", "VouIuCreateDate": "-Fallback-scrubbed-vsvrSSvBzzfxsjfNWOKKdRlYE",
        "VouVenCode": "-Fallback-scrubbed-UatmBqa", "VouVenAddCode": null, "VouVendorInvCode":
        null, "VouValuateToDate": null, "VouValuateFromDate": null, "VouUnpostedRfpInfo":
        null, "VouUnpostedPayCodeOverride": null, "VouTranCode": "-Fallback-scrubbed-Z",
        "VouTpPaymodeTypeCode": null, "VouTppayCode": null, "VouTermPc": 5926, "VouTaxTreatmentPercent":
        null, "VouTaxHldbkAmt": 5926, "VouTaxDiscCode": "-Fallback-scrubbed-P", "VouTaxAmt":
        5926, "VouTax5TaxableFlag": "-Fallback-scrubbed-Z", "VouTax5TaxableAmt": null,
        "VouTax5IncFlag": null, "VouTax5DiscCode": "-Fallback-scrubbed-P", "VouTax5DirectFlag":
        null, "VouTax5CreditFlag": null, "VouTax5Code": null, "VouTax5Amt": 5926,
        "VouTax4TaxableFlag": "-Fallback-scrubbed-Z", "VouTax4TaxableAmt": null, "VouTax4IncFlag":
        null, "VouTax4DiscCode": "-Fallback-scrubbed-P", "VouTax4DirectFlag": null,
        "VouTax4CreditFlag": null, "VouTax4Code": null, "VouTax4Amt": 5926, "VouTax3TaxableFlag":
        "-Fallback-scrubbed-Z", "VouTax3TaxableAmt": null, "VouTax3IncFlag": null,
        "VouTax3DiscCode": "-Fallback-scrubbed-P", "VouTax3DirectFlag": null, "VouTax3CreditFlag":
        null, "VouTax3Code": null, "VouTax3Amt": 5926, "VouTax2TaxableFlag": "-Fallback-scrubbed-Z",
        "VouCreatedByManchqFlag": "-Fallback-scrubbed-P", "VouAcctDescription": null,
        "links": [{"rel": "-Fallback-scrubbed-pNkw", "href": "-Fallback-scrubbed-CNxGPHYwQkZOCRPwscTAJzPMJmCiENNkwpIWLTHSPLCxrtaLrZfuaRCSDLHJSoQCwOlUQpVpJoGQCddrIbrryIsDuMRPjHJLXfSEg",
        "name": "Kristi James", "kind": "-Fallback-scrubbed-fqCv"}, {"rel": "-Fallback-scrubbed-cKRNRMsxd",
        "href": "-Fallback-scrubbed-CNxGPHYwQkZOCRPwscTAJzPMJmCiENNkwpIWLTHSPLCxrtaLrZfuaRCSDLHJSoQCwOlUQpVpJoGQCddrIbrryIsDuMRPjHJLXfSEg",
        "name": "Kristi James", "kind": "-Fallback-scrubbed-fqCv"}, {"rel": "-Fallback-scrubbed-rbFgi",
        "href": "-Fallback-scrubbed-oXdAEBKhYbgIwDkQMSyGjVDQDNetojiFxoQaEogEiVlJrgfFVbhiWhDOcHTHLqOHwuNjqRTNmhSbDaqVJljHZlBJtGMlENFkTTbaeZTTDeRMVCVchXTBJcDdQMiMNhcjStqRt",
        "name":[...]
