interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apallvouchers?limit=500
  response:
    body:
      string: '{"items": [{"VouMemoTax2Amt": null, "VouMemoHldbkAmt": null, "VouMemoDiscAmt":
        null, "VouMemoAmt": null, "VouMaterialInvFlag": "-Fallback-scrubbed-m", "VouLastPayAmt":
        2809, "VouJobCompCode": "-Fallback-scrubbed-opg", "VouJobCode": "-Fallback-scrubbed-wJtaq",
        "VouInvSeriesCode": null, "VouInvOutstandAmt": 2156, "VouInvHldbkTaxFlag":
        "-Fallback-scrubbed-m", "VouInvDate": "-Fallback-scrubbed-LBkDhkCBeTwIyZhQbgQKNHJeY",
        "VouInvCode": "-Fallback-scrubbed-ysyObVaQEgdDF", "VouInvAmt": 2457, "VouImportInfo":
        null, "VouImportingGoodsFlag": "-Fallback-scrubbed-m", "VouImageFilename":
        null, "VouHoldPaymentFlag": "-Fallback-scrubbed-A", "VouHoldPaymentDays":
        2156, "VouHoldFlag": "-Fallback-scrubbed-m", "VouHldbkPc": 0, "VouHldbkPaid":
        2156, "VouHldbkAmt": 4350, "VouGsthldbkCode": "-Fallback-scrubbed-N", "VouFuncFactorNum":
        null, "VouFrtDiscCode": "-Fallback-scrubbed-m", "VouFrtAmt": null, "VouFiscalCode":
        null, "VouFinalRfpFlag": "-Fallback-scrubbed-m", "VouExpDeptCode": null, "VouEnteredAmt":
        2457, "VouEftFlag": "-Fallback-scrubbed-m", "VouDuplicateId": null, "VouDueDate":
        "-Fallback-scrubbed-GcZMxJuhNqxukMRBZHaeBZtzA", "VouDrawNum": null, "VouDistTypeCode":
        "-Fallback-scrubbed-t", "VouDiscTaken": 2156, "VouDiscPc": null, "VouDiscDate":
        "-Fallback-scrubbed-LBkDhkCBeTwIyZhQbgQKNHJeY", "VouDiscAmt": 2156, "VouDiscAllocMethCode":
        "-Fallback-scrubbed-P", "VouDiscreteChqFlag": "-Fallback-scrubbed-m", "VouDfttaxFromCode":
        null, "VouDesc2": null, "VouDesc1": "-Fallback-scrubbed-sRsDwTxtfPuVhWPHQRtpUKFphqXpuO",
        "VouDeptCodeDist": null, "VouDeptCode": "-Fallback-scrubbed-be", "VouDeptAcct":
        null, "VouCurrCode": "-Fallback-scrubbed-Afd", "VouCurcFactorNum": 929, "VouCreatedByJbFlag":
        null, "VouCostCode": null, "VouContExceedHoldFlag": "-Fallback-scrubbed-m",
        "VouContCode": "-Fallback-scrubbed-TceORQAN", "VouContractorPrelimFlag": "-Fallback-scrubbed-m",
        "VouContactCode": "-Fallback-scrubbed-QI", "VouCompCode": "-Fallback-scrubbed-opg",
        "VouCisPc": null, "VouCisPayableAmt": null, "VouCisApplicableAmt": null, "VouChqPayeeName":
        null, "VouChqHandleCode": null, "VouChgCode": "-Fallback-scrubbed-vtS", "VouCatCode":
        null, "VouCashAccCode": "-Fallback-scrubbed-hYzz", "VouBchNum": 8082, "VouBchrgInvFlag":
        null, "VouAppr2": null, "VouAppr1": null, "Vou1099Code": "-Fallback-scrubbed-N",
        "VouTax2TaxableAmt": null, "VouTax2IncFlag": null, "VouTax2HldbkCode": "-Fallback-scrubbed-N",
        "VouTax2HldbkAmt": 2156, "VouTax2HldbkAdjAmt": null, "VouTax2DiscCode": "-Fallback-scrubbed-m",
        "VouTax2DirectFlag": null, "VouTax2CreditFlag": null, "VouTax2Code": null,
        "VouTax2Amt": 2156, "VouTax1TaxableFlag": "-Fallback-scrubbed-A", "VouTax1TaxableAmt":
        null, "VouTax1IncFlag": null, "VouTax1HldbkAdjAmt": null, "VouTax1DirectFlag":
        null, "VouTax1CreditFlag": null, "VouTax1Code": null, "VouSubcontrCode": "-Fallback-scrubbed-IkQT",
        "VouStatusCode": "-Fallback-scrubbed-d", "VouSplitGroupNum": null, "VouSplitByApplCode":
        null, "VouSourceTypeCode": null, "VouSourceToDate": null, "VouSourceObjectOraseq":
        null, "VouSourceFromDate": null, "VouSktAmt": null, "VouShplCode": null, "VouShipOraseq":
        null, "VouSeparateBillingRefCode": null, "VouSelForVoidFlag": null, "VouScSelfBilledFlag":
        "-Fallback-scrubbed-m", "VouScModifiedFlag": "-Fallback-scrubbed-m", "VouScApprovedFlag":
        "-Fallback-scrubbed-m", "VouScApplyBchNum": null, "VouScmstJobCode": "-Fallback-scrubbed-wJtaq",
        "VouRoutJob": null, "VouRlsWAmt": null, "VouRlsTax2Code": null, "VouRlsTax2Amt":
        null, "VouRlsTax1Code": null, "VouRlsTax1Amt": null, "VouRlsNum": null, "VouRlsInvCode":
        null, "VouRlsDate": null, "VouRlsBchNum": null, "VouRlsAmt": null, "VouRevDate":
        null, "VouRevBchNum": null, "VouRevisionNum": null, "VouResaleInfo": null,
        "VouRemitDesc": null, "VouRegInvNum": null, "VouRecordStatus": "-Fallback-scrubbed-KifGLUtnY",
        "VouPyTaxVoucherFlag": null, "VouPyIrsTaxType": null, "VouPyIrsTaxPerEndDate":
        null, "VouPyIrsTaxInfoId": null, "VouPrepaidExpAmt": null, "VouPrelienComplPayCode":
        null, "VouPoReleaseNum": null, "VouPoPrtCode": null, "VouPoPickFlag": "-Fallback-scrubbed-m",
        "VouPoNum": null, "VouPostDate": "-Fallback-scrubbed-LBkDhkCBeTwIyZhQbgQKNHJeY",
        "VouPayNotes": null, "VouPayCode": "-Fallback-scrubbed-m", "VouPayByManualChqFlag":
        "-Fallback-scrubbed-m", "VouPartnTypeCode": "-Fallback-scrubbed-d", "VouPartnCode":
        "-Fallback-scrubbed-opg", "VouPartialApprovedAmt": null, "VouPaidAmt": 2809,
        "VouOrigTaxHldbkAmt": 2156, "VouOrigHldbkAmt": 4350, "VouOrigBchNum": null,
        "VouOrigAmt": null, "VouOriginatingVouNum": null, "VouOperationCode": null,
        "VouNum": 8231, "VouNonZeroOweCompVenCode": null, "VouNodiscAmt": null, "VouNatureOfServices":
        null, "VouMultiControlJobFlag": "-Fallback-scrubbed-k", "VouMiscDiscCode":
        "-Fallback-scrubbed-m", "VouMiscAmt": null, "VouMemoTaxHldbkAmt": null, "VouMemoTaxAmt":
        null, "VouMemoTax5Amt": null, "VouMemoTax4Amt": null, "VouMemoTax3Amt": null,
        "VouMemoTax2HldbkAmt": null, "VouIuUpdateUser": "-Fallback-scrubbed-DyYyHm",
        "VouIuUpdateDate": "-Fallback-scrubbed-aTwDpGJGQdfTGgmdKsdkflbsg", "VouIuCreateUser":
        "-Fallback-scrubbed-DyYyHm", "VouIuCreateDate": "-Fallback-scrubbed-BqyUeVriVGkShrnksIaiLMwpk",
        "VouVenCode": "-Fallback-scrubbed-nOXSZmH", "VouVenAddCode": null, "VouVendorInvCode":
        null, "VouValuateToDate": null, "VouValuateFromDate": null, "VouUnpostedRfpInfo":
        null, "VouUnpostedPayCodeOverride": null, "VouTranCode": "-Fallback-scrubbed-E",
        "VouTpPaymodeTypeCode": null, "VouTppayCode": null, "VouTermPc": 2156, "VouTaxTreatmentPercent":
        null, "VouTaxHldbkAmt": 2156, "VouTaxDiscCode": "-Fallback-scrubbed-m", "VouTaxAmt":
        2156, "VouTax5TaxableFlag": "-Fallback-scrubbed-A", "VouTax5TaxableAmt": null,
        "VouTax5IncFlag": null, "VouTax5DiscCode": "-Fallback-scrubbed-m", "VouTax5DirectFlag":
        null, "VouTax5CreditFlag": null, "VouTax5Code": null, "VouTax5Amt": 2156,
        "VouTax4TaxableFlag": "-Fallback-scrubbed-A", "VouTax4TaxableAmt": null, "VouTax4IncFlag":
        null, "VouTax4DiscCode": "-Fallback-scrubbed-m", "VouTax4DirectFlag": null,
        "VouTax4CreditFlag": null, "VouTax4Code": null, "VouTax4Amt": 2156, "VouTax3TaxableFlag":
        "-Fallback-scrubbed-A", "VouTax3TaxableAmt": null, "VouTax3IncFlag": null,
        "VouTax3DiscCode": "-Fallback-scrubbed-m", "VouTax3DirectFlag": null, "VouTax3CreditFlag":
        null, "VouTax3Code": null, "VouTax3Amt": 2156, "VouTax2TaxableFlag": "-Fallback-scrubbed-A",
        "VouCreatedByManchqFlag": "-Fallback-scrubbed-m", "VouAcctDescription": null,
        "links": [{"rel": "-Fallback-scrubbed-FPQG", "href": "-Fallback-scrubbed-PqERMzMhImlXCcDbstJIPvEeFpNlBiuwkqRmCqicQMPbjDgJUDaZvZCzOMRuyvgcvbpCxfMxpThwhwttvZmJhDheFQGzJzyEioBWc",
        "name": "Brenda Gallegos", "kind": "-Fallback-scrubbed-QsGa"}, {"rel": "-Fallback-scrubbed-CAXxkyPgA",
        "href": "-Fallback-scrubbed-PqERMzMhImlXCcDbstJIPvEeFpNlBiuwkqRmCqicQMPbjDgJUDaZvZCzOMRuyvgcvbpCxfMxpThwhwttvZmJhDheFQGzJzyEioBWc",
        "name": "Brenda Gallegos", "kind": "-Fallback-scrubbed-QsGa"}, {"rel": "-Fallback-scrubbed-tDCtB",
        "href": "-Fallback-scrubbed-LWlxMscCFOODuxUefCGNlWuzQTkRcngIcsmqeHVVBXjXPCrloVBclLuDCCQZYUjwApAlsiUnfoKpBXLuLMFSVQpoRHbSVPxUzgmZGySknRiUQkVbsgEMFaCjpDIwjuayBGzra",
        "nam[...]
