interactions:
- request:
    body: null
    headers:
      Authorization:
      - Basic Q09OU1RSQUZPUnx8QlJJQU5DOkNvbnN0cmFmb3IxMjM0NSE=
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apallvouchers?limit=500&q=VouIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+VouIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27
  response:
    body:
      string: '{"items": [{"VouMemoTax2Amt": null, "VouMemoHldbkAmt": null, "VouMemoDiscAmt":
        null, "VouMemoAmt": null, "VouMaterialInvFlag": "-Fallback-scrubbed-F", "VouLastPayAmt":
        4015, "VouJobCompCode": "-Fallback-scrubbed-hOh", "VouJobCode": "-Fallback-scrubbed-xodyl",
        "VouInvSeriesCode": null, "VouInvOutstandAmt": 2548, "VouInvHldbkTaxFlag":
        "-Fallback-scrubbed-F", "VouInvDate": "-Fallback-scrubbed-OMIpjVAHTKkfWVgfFDFmUwJnE",
        "VouInvCode": "-Fallback-scrubbed-ZCbXIatUgDswW", "VouInvAmt": 1627, "VouImportInfo":
        null, "VouImportingGoodsFlag": "-Fallback-scrubbed-F", "VouImageFilename":
        null, "VouHoldPaymentFlag": "-Fallback-scrubbed-S", "VouHoldPaymentDays":
        2548, "VouHoldFlag": "-Fallback-scrubbed-F", "VouHldbkPc": 279, "VouHldbkPaid":
        2548, "VouHldbkAmt": 678, "VouGsthldbkCode": "-Fallback-scrubbed-T", "VouFuncFactorNum":
        null, "VouFrtDiscCode": "-Fallback-scrubbed-F", "VouFrtAmt": null, "VouFiscalCode":
        null, "VouFinalRfpFlag": "-Fallback-scrubbed-F", "VouExpDeptCode": null, "VouEnteredAmt":
        1627, "VouEftFlag": "-Fallback-scrubbed-F", "VouDuplicateId": null, "VouDueDate":
        "-Fallback-scrubbed-pTfTUTfAIgxwBIFuXXRwaCbCZ", "VouDrawNum": null, "VouDistTypeCode":
        "-Fallback-scrubbed-f", "VouDiscTaken": 2548, "VouDiscPc": null, "VouDiscDate":
        "-Fallback-scrubbed-OMIpjVAHTKkfWVgfFDFmUwJnE", "VouDiscAmt": 2548, "VouDiscAllocMethCode":
        "-Fallback-scrubbed-G", "VouDiscreteChqFlag": "-Fallback-scrubbed-F", "VouDfttaxFromCode":
        null, "VouDesc2": null, "VouDesc1": "-Fallback-scrubbed-MELRUOczyXCCfCgXuykuWYtlhsZjaY",
        "VouDeptCodeDist": null, "VouDeptCode": "-Fallback-scrubbed-yQ", "VouDeptAcct":
        null, "VouCurrCode": "-Fallback-scrubbed-bPK", "VouCurcFactorNum": 9442, "VouCreatedByJbFlag":
        null, "VouCostCode": null, "VouContExceedHoldFlag": "-Fallback-scrubbed-F",
        "VouContCode": "-Fallback-scrubbed-gtqpoWKJ", "VouContractorPrelimFlag": "-Fallback-scrubbed-F",
        "VouContactCode": "-Fallback-scrubbed-fq", "VouCompCode": "-Fallback-scrubbed-hOh",
        "VouCisPc": null, "VouCisPayableAmt": null, "VouCisApplicableAmt": null, "VouChqPayeeName":
        null, "VouChqHandleCode": null, "VouChgCode": "-Fallback-scrubbed-ehy", "VouCatCode":
        null, "VouCashAccCode": "-Fallback-scrubbed-qXcT", "VouBchNum": 6717, "VouBchrgInvFlag":
        null, "VouAppr2": null, "VouAppr1": null, "Vou1099Code": "-Fallback-scrubbed-Q",
        "VouTax2TaxableAmt": null, "VouTax2IncFlag": null, "VouTax2HldbkCode": "-Fallback-scrubbed-T",
        "VouTax2HldbkAmt": 2548, "VouTax2HldbkAdjAmt": null, "VouTax2DiscCode": "-Fallback-scrubbed-F",
        "VouTax2DirectFlag": null, "VouTax2CreditFlag": null, "VouTax2Code": null,
        "VouTax2Amt": 2548, "VouTax1TaxableFlag": "-Fallback-scrubbed-S", "VouTax1TaxableAmt":
        null, "VouTax1IncFlag": null, "VouTax1HldbkAdjAmt": null, "VouTax1DirectFlag":
        null, "VouTax1CreditFlag": null, "VouTax1Code": null, "VouSubcontrCode": "-Fallback-scrubbed-sPVF",
        "VouStatusCode": "-Fallback-scrubbed-q", "VouSplitGroupNum": null, "VouSplitByApplCode":
        null, "VouSourceTypeCode": null, "VouSourceToDate": null, "VouSourceObjectOraseq":
        null, "VouSourceFromDate": null, "VouSktAmt": null, "VouShplCode": null, "VouShipOraseq":
        null, "VouSeparateBillingRefCode": null, "VouSelForVoidFlag": null, "VouScSelfBilledFlag":
        "-Fallback-scrubbed-F", "VouScModifiedFlag": "-Fallback-scrubbed-F", "VouScApprovedFlag":
        "-Fallback-scrubbed-F", "VouScApplyBchNum": null, "VouScmstJobCode": "-Fallback-scrubbed-xodyl",
        "VouRoutJob": null, "VouRlsWAmt": null, "VouRlsTax2Code": null, "VouRlsTax2Amt":
        null, "VouRlsTax1Code": null, "VouRlsTax1Amt": null, "VouRlsNum": null, "VouRlsInvCode":
        null, "VouRlsDate": null, "VouRlsBchNum": null, "VouRlsAmt": null, "VouRevDate":
        null, "VouRevBchNum": null, "VouRevisionNum": null, "VouResaleInfo": null,
        "VouRemitDesc": null, "VouRegInvNum": null, "VouRecordStatus": "-Fallback-scrubbed-OILPBCbXZ",
        "VouPyTaxVoucherFlag": null, "VouPyIrsTaxType": null, "VouPyIrsTaxPerEndDate":
        null, "VouPyIrsTaxInfoId": null, "VouPrepaidExpAmt": null, "VouPrelienComplPayCode":
        null, "VouPoReleaseNum": null, "VouPoPrtCode": null, "VouPoPickFlag": "-Fallback-scrubbed-F",
        "VouPoNum": null, "VouPostDate": "-Fallback-scrubbed-OMIpjVAHTKkfWVgfFDFmUwJnE",
        "VouPayNotes": null, "VouPayCode": "-Fallback-scrubbed-F", "VouPayByManualChqFlag":
        "-Fallback-scrubbed-F", "VouPartnTypeCode": "-Fallback-scrubbed-q", "VouPartnCode":
        "-Fallback-scrubbed-hOh", "VouPartialApprovedAmt": null, "VouPaidAmt": 4015,
        "VouOrigTaxHldbkAmt": 2548, "VouOrigHldbkAmt": 678, "VouOrigBchNum": null,
        "VouOrigAmt": null, "VouOriginatingVouNum": null, "VouOperationCode": null,
        "VouNum": 333, "VouNonZeroOweCompVenCode": null, "VouNodiscAmt": null, "VouNatureOfServices":
        null, "VouMultiControlJobFlag": "-Fallback-scrubbed-C", "VouMiscDiscCode":
        "-Fallback-scrubbed-F", "VouMiscAmt": null, "VouMemoTaxHldbkAmt": null, "VouMemoTaxAmt":
        null, "VouMemoTax5Amt": null, "VouMemoTax4Amt": null, "VouMemoTax3Amt": null,
        "VouMemoTax2HldbkAmt": null, "VouIuUpdateUser": "-Fallback-scrubbed-hnQULd",
        "VouIuUpdateDate": "-Fallback-scrubbed-piOGAoCEYYynjWzmXmHiktccB", "VouIuCreateUser":
        "-Fallback-scrubbed-hnQULd", "VouIuCreateDate": "-Fallback-scrubbed-UYlkTHYGWEjUGNcxPTNNFUXqM",
        "VouVenCode": "-Fallback-scrubbed-kQUXzla", "VouVenAddCode": null, "VouVendorInvCode":
        null, "VouValuateToDate": null, "VouValuateFromDate": null, "VouUnpostedRfpInfo":
        null, "VouUnpostedPayCodeOverride": null, "VouTranCode": "-Fallback-scrubbed-G",
        "VouTpPaymodeTypeCode": null, "VouTppayCode": null, "VouTermPc": 2548, "VouTaxTreatmentPercent":
        null, "VouTaxHldbkAmt": 2548, "VouTaxDiscCode": "-Fallback-scrubbed-F", "VouTaxAmt":
        2548, "VouTax5TaxableFlag": "-Fallback-scrubbed-S", "VouTax5TaxableAmt": null,
        "VouTax5IncFlag": null, "VouTax5DiscCode": "-Fallback-scrubbed-F", "VouTax5DirectFlag":
        null, "VouTax5CreditFlag": null, "VouTax5Code": null, "VouTax5Amt": 2548,
        "VouTax4TaxableFlag": "-Fallback-scrubbed-S", "VouTax4TaxableAmt": null, "VouTax4IncFlag":
        null, "VouTax4DiscCode": "-Fallback-scrubbed-F", "VouTax4DirectFlag": null,
        "VouTax4CreditFlag": null, "VouTax4Code": null, "VouTax4Amt": 2548, "VouTax3TaxableFlag":
        "-Fallback-scrubbed-S", "VouTax3TaxableAmt": null, "VouTax3IncFlag": null,
        "VouTax3DiscCode": "-Fallback-scrubbed-F", "VouTax3DirectFlag": null, "VouTax3CreditFlag":
        null, "VouTax3Code": null, "VouTax3Amt": 2548, "VouTax2TaxableFlag": "-Fallback-scrubbed-S",
        "VouCreatedByManchqFlag": "-Fallback-scrubbed-F", "VouAcctDescription": null,
        "links": [{"rel": "-Fallback-scrubbed-fmXO", "href": "-Fallback-scrubbed-LeVhWdPlwIHKkYRpdXeJfQhVOPuruITBKKyFKvImNunTYoIncdlSKrzmmJhkTGibFBvTpYtDiGlfCmbxJsKIxGojupCHtsdLFWjmt",
        "name": "Thomas Elliott", "kind": "-Fallback-scrubbed-Ymis"}, {"rel": "-Fallback-scrubbed-PoDDYEeXK",
        "href": "-Fallback-scrubbed-LeVhWdPlwIHKkYRpdXeJfQhVOPuruITBKKyFKvImNunTYoIncdlSKrzmmJhkTGibFBvTpYtDiGlfCmbxJsKIxGojupCHtsdLFWjmt",
        "name": "Thomas Elliott", "kind": "-Fallback-scrubbed-Ymis"}, {"rel": "-Fallback-scrubbed-KZauI",
        "href": "-Fallback-scrubbed-xgdeuzfTUpjCezcVvCOghKeVLCTnwiiRflGqkxQgjCOJBWvldXzGQWMqrWJKONETfindEJGCEfltTgltUBFroWfgzmbowrgGrcKZIZCsJFNRgXTezyAKwBRgYhLgtBNDHvkYd",
        "name[...]
