interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apvendor?limit=500&finder=selectByDate%3BauditDate%3D2000-01-01T00%3A00%3A01%2B0000&q=BpvenCompCode+%3D+%27001%27
  response:
    body:
      string: '{"items": [{"BpvenCompCode": "001", "BpvenCompName": "-Fallback-scrubbed-MNdzSJUVzOrYWdUPWxthjfiVmFCXL",
        "BpvenBpCode": "-Fallback-scrubbed-CvdTWeR", "BpvenBpName": "-Fallback-scrubbed-LcbqULJtFZHjrCLQ",
        "BpvenPayAdd1": "-Fallback-scrubbed-cTiPwpFxAsS", "BpvenPayAdd2": null, "BpvenPayAdd3":
        "-Fallback-scrubbed-YwVeitwMzu", "BpvenPayRegionCode": "-Fallback-scrubbed-PA",
        "BpvenPayRegionName": null, "BpvenPayCountry": "-Fallback-scrubbed-SPY", "BpvenPayPostalCode":
        "-Fallback-scrubbed-FJvsu", "BpvenPayContactName": null, "BpvenPayPhone":
        "-Fallback-scrubbed-OuQynwoVhk", "BpvenPayFax": null, "BpvenPayEmail": null,
        "BpvenWebSite": null, "BpvenBuyCode": null, "BpvenClassCode": null, "BpvenClassName":
        null, "BpvenStatusCode": "-Fallback-scrubbed-G", "BpvenPrefCode": null, "BpvenPrefName":
        null, "BpvenTermCode": "-Fallback-scrubbed-pVElM", "BpvenTermName": "-Fallback-scrubbed-hBhPni",
        "Bpven1099Code": "-Fallback-scrubbed-Q", "Bpven1099Name": "-Fallback-scrubbed-vFpJLpBMRwwcuidSkKIpwQaozGo",
        "BpvenAltAddCode": null, "BpvenAltAddName": null, "BpvenShpinstDesc": null,
        "BpvenActiveFlag": "-Fallback-scrubbed-O", "Bpven5018RepFlag": "-Fallback-scrubbed-L",
        "BpvenOneTimeFlag": "-Fallback-scrubbed-m", "BpvenUseApctrlComplFlag": null,
        "BpvenSpecialTermsFlag": "-Fallback-scrubbed-m", "BpvenOrdAdd1": "-Fallback-scrubbed-cTiPwpFxAsS",
        "BpvenOrdAdd2": null, "BpvenOrdAdd3": "-Fallback-scrubbed-YwVeitwMzu", "BpvenOrdRegionCode":
        "-Fallback-scrubbed-PA", "BpvenOrdCountry": "-Fallback-scrubbed-SPY", "BpvenOrdPostalCode":
        "-Fallback-scrubbed-FJvsu", "BpvenOrdContactName": null, "BpvenOrdPhone":
        "-Fallback-scrubbed-OuQynwoVhk", "BpvenOrdFax": null, "BpvenOrdEmail": null,
        "BpvenCurrCode": "-Fallback-scrubbed-caY", "BpvenInvSerCode": null, "BpvenDistTypeCode":
        "-Fallback-scrubbed-W", "BpvenHldbkPc": null, "BpvenAllowTranFlag": "-Fallback-scrubbed-O",
        "BpvenCheckMergeFlag": "-Fallback-scrubbed-m", "BpvenDiscreteChqFlag": "-Fallback-scrubbed-m",
        "BpvenPrenoteFlag": null, "BpvenTppayCode": null, "BpvenDefaultPayCode": "-Fallback-scrubbed-m",
        "BpvenEftFlag": null, "BpvenEftEmail": null, "BpvenPrefContactMth": "-Fallback-scrubbed-b",
        "BpvenEmpNo": null, "BpvenBankCode": null, "BpvenBankAccNum1": null, "BpvenBankAccNum2":
        null, "BpvenBankAccNum3": null, "BpvenPaymodeId": null, "BpvenIbanNum": null,
        "BpvenSwiftBicCode": null, "BpvenApDeptCode": "-Fallback-scrubbed-RV", "BpvenApAccCode":
        "-Fallback-scrubbed-voVs", "BpvenCashDeptCode": "-Fallback-scrubbed-RV", "BpvenCashAccCode":
        "-Fallback-scrubbed-bLYq", "BpvenExpDeptCode": "-Fallback-scrubbed-RV", "BpvenExpAccCode":
        "-Fallback-scrubbed-AmvD", "BpvenPpeDeptCode": "-Fallback-scrubbed-RV", "BpvenPpeAccCode":
        "-Fallback-scrubbed-Vsnf", "BpvenDiscDeptCode": "-Fallback-scrubbed-RV", "BpvenDiscAccCode":
        "-Fallback-scrubbed-sNWn", "BpvenHldbkDeptCode": "-Fallback-scrubbed-RV",
        "BpvenHldbkAccCode": "-Fallback-scrubbed-qLSZ", "BpvenTax1Code": null, "BpvenTaxlic1":
        null, "BpvenTax2Code": null, "BpvenTaxlic2": null, "BpvenTax3Code": null,
        "BpvenTaxlic3": null, "BpvenTax4Code": null, "BpvenTaxlic4": null, "BpvenTax5Code":
        null, "BpvenTaxlic5": null, "BpvenVUuid": "557DA0D415CB56E8E06331121DAC9786",
        "BpvenIuCreateDate": "2026-06-30T14:47:18-04:00", "BpvenIuUpdateDate": "2026-06-30T17:30:06-04:00",
        "BpIuCreateDate": "-Fallback-scrubbed-qhkpbLCDzjiRaGXPKciRzTaOU", "BpIuUpdateDate":
        "-Fallback-scrubbed-qTFGCtbfScbEbkaBBQmGtzQfp", "BpvenEftPaymentType": null,
        "links": [{"rel": "-Fallback-scrubbed-HEdc", "href": "-Fallback-scrubbed-FEQGljGirwHBxewETaCHNXhOLFMSgFZiuRxVkPizhKnqzDorQRYliLuIPaejeDzkKOubgLMkFJTaENqSakfavvHinEOOmCDjYZBoTkiClfdPBKbfOPPmohW",
        "name": "Rebecca Morgan", "kind": "-Fallback-scrubbed-VBhf"}, {"rel": "-Fallback-scrubbed-MhjVbpcXX",
        "href": "-Fallback-scrubbed-FEQGljGirwHBxewETaCHNXhOLFMSgFZiuRxVkPizhKnqzDorQRYliLuIPaejeDzkKOubgLMkFJTaENqSakfavvHinEOOmCDjYZBoTkiClfdPBKbfOPPmohW",
        "name": "Rebecca Morgan", "kind": "-Fallback-scrubbed-VBhf"}]}, {"BpvenCompCode":
        "001", "BpvenCompName": "-Fallback-scrubbed-MNdzSJUVzOrYWdUPWxthjfiVmFCXL",
        "BpvenBpCode": "-Fallback-scrubbed-plBgbl", "BpvenBpName": "-Fallback-scrubbed-AwUXNWlbDTpG[...]
