interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/pm-rest-api/rest/1/scmast?limit=500&finder=selectByPostDate%3BAuditDate%3D2000-01-01T00%3A00%3A01%2B0000&q=ScmstCompCode+%3D+%27001%27
  response:
    body:
      string: '{"items": [{"CChangeDesc": "-Fallback-scrubbed-ImwvXBgbOpqRjMv", "CNewRevisedDesc":
        "-Fallback-scrubbed-CQavdvTulCf", "COriginalDesc": "-Fallback-scrubbed-mwZkfABy",
        "CRecievedDesc": "-Fallback-scrubbed-gbzeglL", "CTitle1": "-Fallback-scrubbed-mwZkfABy",
        "CTitle2": "-Fallback-scrubbed-MFFpwLwPvgQme", "CTitle3": "-Fallback-scrubbed-FTxqBaROgCPzVr",
        "CTitle4": "-Fallback-scrubbed-gbzeglL", "CUnpostedDesc": "-Fallback-scrubbed-mJQjHPgkvGtFLXUG",
        "PartnTypeCode": "-Fallback-scrubbed-W", "PostOverrideFlag": "-Fallback-scrubbed-S",
        "ScmstAbbrevPartnCode": "-Fallback-scrubbed-LHPEsQ", "ScmstAcctDescription":
        null, "ScmstActionCode": null, "ScmstAltVenAddCode": null, "ScmstAppCode":
        null, "ScmstArAmt": null, "ScmstBankAccount": "-Fallback-scrubbed-GDRC", "ScmstBankDept":
        "-Fallback-scrubbed-kQ", "ScmstBillCode": null, "ScmstCashAmt": null, "ScmstCdiFlag":
        "-Fallback-scrubbed-h", "ScmstChgCode": "-Fallback-scrubbed-UZA", "ScmstChqHandleCode":
        null, "ScmstCloseDate": null, "ScmstClvValueCode1": null, "ScmstClvValueCode2":
        null, "ScmstClvValueCode3": null, "ScmstClvValueCode4": null, "ScmstClvValueCode5":
        null, "ScmstClvValueCode6": null, "ScmstCmBudrCode": null, "ScmstCmChgCode":
        null, "ScmstCmCompCode": null, "ScmstCmJobCode": null, "ScmstCompCode": "001",
        "ScmstComplFlag": "-Fallback-scrubbed-h", "ScmstContAmt": null, "ScmstContCode":
        "-Fallback-scrubbed-qvYzjgYYsWv", "ScmstContType": "-Fallback-scrubbed-KBjdHOUszxb",
        "ScmstContactCode": null, "ScmstContactName": null, "ScmstCorrespAddCode":
        null, "ScmstCreateContOnFlyFlag": "-Fallback-scrubbed-C", "ScmstCurcFactorNum":
        3923, "ScmstCurrCode": "-Fallback-scrubbed-mKI", "ScmstCurrName": "-Fallback-scrubbed-swSGMTIGS",
        "ScmstDate": "-Fallback-scrubbed-ODRpMlvFxx", "ScmstDefaultTaxesFlag": "-Fallback-scrubbed-C",
        "ScmstDesc": null, "ScmstDfltAmt": null, "ScmstDfltCatCode": null, "ScmstDfltPhsCode":
        null, "ScmstDoNotExceedAmt": null, "ScmstEndDate": "-Fallback-scrubbed-DNNAOBEVCp",
        "ScmstExecutedDate": null, "ScmstGcsPayRequestFlag": "-Fallback-scrubbed-h",
        "ScmstGstAmt": null, "ScmstGstPc": 2878, "ScmstHldbkPc": 2878, "ScmstHldbkPcRule":
        null, "ScmstHldbkRlsFromSc": "-Fallback-scrubbed-C", "ScmstHoldPaymentDays":
        2878, "ScmstHoldPaymentFlag": "-Fallback-scrubbed-C", "ScmstImpactDays": null,
        "ScmstInvEntryState": "-Fallback-scrubbed-gz", "ScmstInvHldbkTaxFlag": "-Fallback-scrubbed-h",
        "ScmstIssuedDate": null, "ScmstIuCreateDate": "2026-07-21T17:08:34-04:00",
        "ScmstIuUpdateDate": "2026-07-21T17:08:34-04:00", "ScmstJobCode": "-Fallback-scrubbed-JxfSyrgOK",
        "ScmstJobCtrlCode": "-Fallback-scrubbed-OiG", "ScmstMainChgCode": null, "ScmstMainContCode":
        null, "ScmstMainVenCode": null, "ScmstName": "-Fallback-scrubbed-VzrOsuLzuqVHfuLSdPPr",
        "ScmstNonCreditInclTaxAmt": null, "ScmstNonCreditTaxAmt": null, "ScmstOrigBidpAmt":
        null, "ScmstOrigBidpOraseq": null, "ScmstOvrrideNotExceedFlag": "-Fallback-scrubbed-h",
        "ScmstOverrideFlag": null, "ScmstPbContCode": null, "ScmstPbCustCode": null,
        "ScmstPostBatch": null, "ScmstPostDate": null, "ScmstPreferedQuoteFlag": "-Fallback-scrubbed-C",
        "ScmstPrintedCoFlag": null, "ScmstProjOraseq": 3433, "ScmstRating": null,
        "ScmstRctReferenceNum": null, "ScmstReceivedDate": null, "ScmstRecipientEmail":
        null, "ScmstRevBatch": null, "ScmstRevDate": null, "ScmstScControlAmt": 3657,
        "ScmstSchedExistsFlag": "-Fallback-scrubbed-h", "ScmstScheduleFlag": "-Fallback-scrubbed-C",
        "ScmstScopeDesc": null, "ScmstScschLastSeqNumUsed": 2878, "ScmstSelfBilledFlag":
        "-Fallback-scrubbed-h", "ScmstSenderEmail": null, "ScmstSepVouPerJobFlag":
        "-Fallback-scrubbed-h", "ScmstSrcCode": "-Fallback-scrubbed-uUn", "ScmstStartDate":
        "-Fallback-scrubbed-tdNYRHWIcq", "ScmstStatCode": "-Fallback-scrubbed-W",
        "ScmstStatusCode": "-Fallback-scrubbed-mqEUNub", "ScmstSubcontrCode": "-Fallback-scrubbed-bdPp",
        "ScmstSubcontractorChgCode": null, "ScmstTax1Code": "-Fallback-scrubbed-HQ",
        "ScmstTax2Code": null, "ScmstTax3Code": null, "ScmstTermCode": "-Fallback-scrubbed-fMHyw",
        "ScmstTermName": "-Fallback-scrubbed-SrSnow", "ScmstTexturaFlag": "-Fallback-scrubbed-h",
        "ScmstUser": "-Fallback-scrubbed-ZbpkhD", "ScmstUserPrvlgFlag": "-Fallback-scrubbed-C",
        "ScmstVenCode": "-Fallback-scrubbed-LHPEsQ", "ScmstVenName": "-Fallback-scrubbed-ACpLlOfMxfkpdpCgLENkBwqzdXLKGeoNkl",
        "ScmstVUuid": "57266267D698A637E06331121DACEFEF", "ScmstDepositAmt": 2878,
        "ScmstDepositApprovalDate": null, "ScmstDepositPct": 2878, "ScmstWorkflowStatus":
        null, "ScmstDateTimePost": null, "ScmstPost": null, "links": [{"rel": "-Fallback-scrubbed-oXWd",
        "href": "-Fallback-scrubbed-lJnuDdJQCqxPCcBPKCnXIKplXCBoEToaglSWNciQbndVuBYxTdCfABGjhgfkQHohcDsbHOSNwNiofqvKTNemBjCsIvJeKImCElIRiRBqmgJkLqmMSzExK",
        "name": "Emily Brown", "kind": "-Fallback-scrubbed-oLNn"}, {"rel": "-Fallback-scrubbed-faqYPMrEk",
        "href": "-Fallback-scrubbed-lJnuDdJQCqxPCcBPKCnXIKplXCBoEToaglSWNciQbndVuBYxTdCfABGjhgfkQHohcDsbHOSNwNiofqvKTNemBjCsIvJeKImCElIRiRBqmgJkLqmMSzExK",
        "name": "Emily Brown", "kind": "-Fallback-scrubbed-oLNn"}, {"rel": "-Fallback-scrubbed-IcJld",
        "href": "-Fallback-scrubbed-YhrfBEzjgHhqVTFoyApxyfAaCcDdiHmoNxEtGtHJUDCUPmOoWcklHtXsNTELURZKipFTtqwvBLrcFapHYYDLhZOXGITukfxSPCLsXQVUuVnCBOoBBubtoxoXLxJoGzOeGHQcwzkV[...]
