interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/glrestapi/rest/v1/glcompany?limit=500&finder=selectByDate%3BauditDate%3D2000-01-01T00%3A00%3A01%2B0000
  response:
    body:
      string: '{"items": [{"CompAccByCompFlag": null, "CompAccByDeptFlag": null, "CompAdd1":
        "-Fallback-scrubbed-LrYQmkQowQKxswqPTu", "CompAdd2": null, "CompAdd3": "-Fallback-scrubbed-yrGBk",
        "CompArDepartmentName": null, "CompArchDate": "-Fallback-scrubbed-OvOZUGjyoKhHWWuprAnKofRtm",
        "CompArctrlLogoFile": null, "CompCableNum": null, "CompCalcEndDate": null,
        "CompCalcStartDate": null, "CompCkDigitCode": null, "CompCode": "-Fallback-scrubbed-yeP",
        "CompCompoundGstCode": null, "CompConsCode": "-Fallback-scrubbed-TVQiPNZ",
        "CompConschartCode": "-Fallback-scrubbed-PqSTl", "CompConschartName": "-Fallback-scrubbed-PSZtFJREFBeoGhZkbYuZViJRrGxRP",
        "CompConschartTypeCode": null, "CompContactName": null, "CompCountry": null,
        "CompCtrlCode": null, "CompCtrlFileExists": "-Fallback-scrubbed-Z", "CompCurrCode":
        "-Fallback-scrubbed-lIt", "CompCurrName": "-Fallback-scrubbed-YwgcSkqPT",
        "CompCurrPer": 1068, "CompDefaultPyCountryCode": "-Fallback-scrubbed-Yy",
        "CompDeptCode": "-Fallback-scrubbed-Z", "CompDistGlCompCode": null, "CompDistGlDeptCode":
        null, "CompDistGlFlag": null, "CompDistGlLogDaysNum": null, "CompEmailAdd":
        null, "CompEmpNum": null, "CompEstablishDate": null, "CompF5trContPerson":
        null, "CompF5trContTelNo": null, "CompF5trDeclrId": null, "CompF5trDeclrName":
        null, "CompF5trDesignation": null, "CompF5trGstRegNo": null, "CompF5trRefNo":
        null, "CompFaxAreaCode": null, "CompFaxCountryCode": null, "CompFaxNum": null,
        "CompFedTax1Code": null, "CompFedTax2Code": null, "CompFiscalYr": 4302, "CompIcAccCode":
        null, "CompIcDeptCode": null, "CompIncomeCloseAccCode": "-Fallback-scrubbed-UXBY",
        "CompIncomeCloseDeptCode": "-Fallback-scrubbed-bf", "CompIntClrDeptCode":
        null, "CompIntintCode": null, "CompLegalName": null, "CompLogoFile": null,
        "CompLogoFileOnWeb": null, "CompMaintainBalcurrFlag": null, "CompMocrrCode":
        null, "CompName": "-Fallback-scrubbed-hxBkvcXpkNBdgzMFhblpEPajALUYL", "CompOfGlFlag":
        null, "CompOfGlIdFlexCode": null, "CompOfGlIdFlexNum": null, "CompOfGlSegments":
        null, "CompOfGlSetOfBooksId": null, "CompOfGlValues": null, "CompOwnershipPc":
        null, "CompPerNum": 942, "CompPhoneAreaCode": "-Fallback-scrubbed-qKm", "CompPhoneCountryCode":
        null, "CompPhoneNum": "-Fallback-scrubbed-JLcqdJzj", "CompPostalCode": "-Fallback-scrubbed-paEaf",
        "CompRecognizeFxFlag": null, "CompRegionCode": "-Fallback-scrubbed-cJ", "CompRegionName":
        "-Fallback-scrubbed-aNSdUgS", "CompRemeasureAdjAccCode": null, "CompRepCurr1Code":
        null, "CompRepCurr1Name": null, "CompRepCurr2Code": null, "CompRepCurr2Name":
        null, "CompRepCurr3Code": null, "CompRepCurr3Name": null, "CompRowid": "-Fallback-scrubbed-bYZuPqkObhbuuMsnyO",
        "CompT619RegistrationCode": null, "CompTaxCode": null, "CompTaxDist": null,
        "CompTelexNum": null, "CompTerrCode": null, "CompTypeCode": null, "CompUseTacFlag":
        null, "CompVatRegNum": null, "CompWebAdd": "-Fallback-scrubbed-MFhruXefe",
        "CompVUuid": "-Fallback-scrubbed-tKDWNTxETPzjDnVnDPwskbboVrAmXVau", "CompIuCreateDate":
        "-Fallback-scrubbed-drHGOROfkDrWgqGmYimdAPFCx", "CompIuCreateUser": "-Fallback-scrubbed-ZifwpUiN",
        "CompIuUpdateDate": null, "CompIuUpdateUser": null, "links": [{"rel": "-Fallback-scrubbed-sFwt",
        "href": "-Fallback-scrubbed-ojqtAdKzNQJrWZVGAVJMtmvuZKkmLlFZDgoHWqCPXVTAenAsocOvdBYcQWVIcxgsLMiJgfJnfAKlEpNaSyYMykUQsqoRhwniylNPrrsYIlsFjkNphJvdJdY",
        "name": "Hayden Montgomery", "kind": "-Fallback-scrubbed-SXVc"}, {"rel": "-Fallback-scrubbed-xKoaWKDFc",
        "href": "-Fallback-scrubbed-ojqtAdKzNQJrWZVGAVJMtmvuZKkmLlFZDgoHWqCPXVTAenAsocOvdBYcQWVIcxgsLMiJgfJnfAKlEpNaSyYMykUQsqoRhwniylNPrrsYIlsFjkNphJvdJdY",
        "name": "Hayden Montgomery", "kind": "-Fallback-scrubbed-SXVc"}]}, {"CompAccByCompFlag":
        null, "CompAccByDeptFlag": null, "CompAdd1": "-Fallback-scrubbed-soIzXNOtTGjymCeX",
        "CompAdd2": "-Fallback-scrubbed-zwhrL", "CompAdd3": "-Fallback-scrubbed-lMVl[...]
