interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apallvouchers?limit=500&q=VouCompCode+%3D+%27001%27+and+%28VouIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+VouIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27%29
  response:
    body:
      string: '{"items": [{"VouMemoTax2Amt": null, "VouMemoHldbkAmt": null, "VouMemoDiscAmt":
        null, "VouMemoAmt": null, "VouMaterialInvFlag": "-Fallback-scrubbed-q", "VouLastPayAmt":
        9589, "VouJobCompCode": "-Fallback-scrubbed-nlo", "VouJobCode": "-Fallback-scrubbed-NFNoa",
        "VouInvSeriesCode": null, "VouInvOutstandAmt": 4807, "VouInvHldbkTaxFlag":
        "-Fallback-scrubbed-q", "VouInvDate": "-Fallback-scrubbed-OnAPXWZoMedaXepfChzoYtNAl",
        "VouInvCode": "-Fallback-scrubbed-ypouthyubNYtZ", "VouInvAmt": 2506, "VouImportInfo":
        null, "VouImportingGoodsFlag": "-Fallback-scrubbed-q", "VouImageFilename":
        null, "VouHoldPaymentFlag": "-Fallback-scrubbed-d", "VouHoldPaymentDays":
        4807, "VouHoldFlag": "-Fallback-scrubbed-q", "VouHldbkPc": 804, "VouHldbkPaid":
        4807, "VouHldbkAmt": 4344, "VouGsthldbkCode": "-Fallback-scrubbed-h", "VouFuncFactorNum":
        null, "VouFrtDiscCode": "-Fallback-scrubbed-q", "VouFrtAmt": null, "VouFiscalCode":
        null, "VouFinalRfpFlag": "-Fallback-scrubbed-q", "VouExpDeptCode": null, "VouEnteredAmt":
        2506, "VouEftFlag": "-Fallback-scrubbed-q", "VouDuplicateId": null, "VouDueDate":
        "-Fallback-scrubbed-uFwXZmbvNnkEiwiARDZDDvQvT", "VouDrawNum": null, "VouDistTypeCode":
        "-Fallback-scrubbed-I", "VouDiscTaken": 4807, "VouDiscPc": null, "VouDiscDate":
        "-Fallback-scrubbed-OnAPXWZoMedaXepfChzoYtNAl", "VouDiscAmt": 4807, "VouDiscAllocMethCode":
        "-Fallback-scrubbed-f", "VouDiscreteChqFlag": "-Fallback-scrubbed-q", "VouDfttaxFromCode":
        null, "VouDesc2": null, "VouDesc1": "-Fallback-scrubbed-YMdoKqayLMqQTIiTjEuHidtSAVgIUC",
        "VouDeptCodeDist": null, "VouDeptCode": "-Fallback-scrubbed-zt", "VouDeptAcct":
        null, "VouCurrCode": "-Fallback-scrubbed-rZt", "VouCurcFactorNum": 2789, "VouCreatedByJbFlag":
        null, "VouCostCode": null, "VouContExceedHoldFlag": "-Fallback-scrubbed-q",
        "VouContCode": "-Fallback-scrubbed-jHwtEwOV", "VouContractorPrelimFlag": "-Fallback-scrubbed-q",
        "VouContactCode": "-Fallback-scrubbed-vw", "VouCompCode": "001", "VouCisPc":
        null, "VouCisPayableAmt": null, "VouCisApplicableAmt": null, "VouChqPayeeName":
        null, "VouChqHandleCode": null, "VouChgCode": "-Fallback-scrubbed-BrN", "VouCatCode":
        null, "VouCashAccCode": "-Fallback-scrubbed-IqwZ", "VouBchNum": 2551, "VouBchrgInvFlag":
        null, "VouAppr2": null, "VouAppr1": null, "Vou1099Code": "-Fallback-scrubbed-S",
        "VouTax2TaxableAmt": null, "VouTax2IncFlag": null, "VouTax2HldbkCode": "-Fallback-scrubbed-h",
        "VouTax2HldbkAmt": 4807, "VouTax2HldbkAdjAmt": null, "VouTax2DiscCode": "-Fallback-scrubbed-q",
        "VouTax2DirectFlag": null, "VouTax2CreditFlag": null, "VouTax2Code": null,
        "VouTax2Amt": 4807, "VouTax1TaxableFlag": "-Fallback-scrubbed-d", "VouTax1TaxableAmt":
        null, "VouTax1IncFlag": null, "VouTax1HldbkAdjAmt": null, "VouTax1DirectFlag":
        null, "VouTax1CreditFlag": null, "VouTax1Code": null, "VouSubcontrCode": "-Fallback-scrubbed-PlED",
        "VouStatusCode": "-Fallback-scrubbed-J", "VouSplitGroupNum": null, "VouSplitByApplCode":
        null, "VouSourceTypeCode": null, "VouSourceToDate": null, "VouSourceObjectOraseq":
        null, "VouSourceFromDate": null, "VouSktAmt": null, "VouShplCode": null, "VouShipOraseq":
        null, "VouSeparateBillingRefCode": null, "VouSelForVoidFlag": null, "VouScSelfBilledFlag":
        "-Fallback-scrubbed-q", "VouScModifiedFlag": "-Fallback-scrubbed-q", "VouScApprovedFlag":
        "-Fallback-scrubbed-q", "VouScApplyBchNum": null, "VouScmstJobCode": "-Fallback-scrubbed-NFNoa",
        "VouRoutJob": null, "VouRlsWAmt": null, "VouRlsTax2Code": null, "VouRlsTax2Amt":
        null, "VouRlsTax1Code": null, "VouRlsTax1Amt": null, "VouRlsNum": null, "VouRlsInvCode":
        null, "VouRlsDate": null, "VouRlsBchNum": null, "VouRlsAmt": null, "VouRevDate":
        null, "VouRevBchNum": null, "VouRevisionNum": null, "VouResaleInfo": null,
        "VouRemitDesc": null, "VouRegInvNum": null, "VouRecordStatus": "-Fallback-scrubbed-NFfOfurhB",
        "VouPyTaxVoucherFlag": null, "VouPyIrsTaxType": null, "VouPyIrsTaxPerEndDate":
        null, "VouPyIrsTaxInfoId": null, "VouPrepaidExpAmt": null, "VouPrelienComplPayCode":
        null, "VouPoReleaseNum": null, "VouPoPrtCode": null, "VouPoPickFlag": "-Fallback-scrubbed-q",
        "VouPoNum": null, "VouPostDate": "-Fallback-scrubbed-OnAPXWZoMedaXepfChzoYtNAl",
        "VouPayNotes": null, "VouPayCode": "-Fallback-scrubbed-q", "VouPayByManualChqFlag":
        "-Fallback-scrubbed-q", "VouPartnTypeCode": "-Fallback-scrubbed-J", "VouPartnCode":
        "-Fallback-scrubbed-nlo", "VouPartialApprovedAmt": null, "VouPaidAmt": 9589,
        "VouOrigTaxHldbkAmt": 4807, "VouOrigHldbkAmt": 4344, "VouOrigBchNum": null,
        "VouOrigAmt": null, "VouOriginatingVouNum": null, "VouOperationCode": null,
        "VouNum": 251507376, "VouNonZeroOweCompVenCode": null, "VouNodiscAmt": null,
        "VouNatureOfServices": null, "VouMultiControlJobFlag": "-Fallback-scrubbed-X",
        "VouMiscDiscCode": "-Fallback-scrubbed-q", "VouMiscAmt": null, "VouMemoTaxHldbkAmt":
        null, "VouMemoTaxAmt": null, "VouMemoTax5Amt": null, "VouMemoTax4Amt": null,
        "VouMemoTax3Amt": null, "VouMemoTax2HldbkAmt": null, "VouIuUpdateUser": "-Fallback-scrubbed-PYJcGD",
        "VouIuUpdateDate": "2026-07-01T10:21:40-04:00", "VouIuCreateUser": "-Fallback-scrubbed-PYJcGD",
        "VouIuCreateDate": "2026-07-01T09:14:13-04:00", "VouVenCode": "-Fallback-scrubbed-zoDdkgn",
        "VouVenAddCode": null, "VouVendorInvCode": null, "VouValuateToDate": null,
        "VouValuateFromDate": null, "VouUnpostedRfpInfo": null, "VouUnpostedPayCodeOverride":
        null, "VouTranCode": "-Fallback-scrubbed-l", "VouTpPaymodeTypeCode": null,
        "VouTppayCode": null, "VouTermPc": 4807, "VouTaxTreatmentPercent": null, "VouTaxHldbkAmt":
        4807, "VouTaxDiscCode": "-Fallback-scrubbed-q", "VouTaxAmt": 4807, "VouTax5TaxableFlag":
        "-Fallback-scrubbed-d", "VouTax5TaxableAmt": null, "VouTax5IncFlag": null,
        "VouTax5DiscCode": "-Fallback-scrubbed-q", "VouTax5DirectFlag": null, "VouTax5CreditFlag":
        null, "VouTax5Code": null, "VouTax5Amt": 4807, "VouTax4TaxableFlag": "-Fallback-scrubbed-d",
        "VouTax4TaxableAmt": null, "VouTax4IncFlag": null, "VouTax4DiscCode": "-Fallback-scrubbed-q",
        "VouTax4DirectFlag": null, "VouTax4CreditFlag": null, "VouTax4Code": null,
        "VouTax4Amt": 4807, "VouTax3TaxableFlag": "-Fallback-scrubbed-d", "VouTax3TaxableAmt":
        null, "VouTax3IncFlag": null, "VouTax3DiscCode": "-Fallback-scrubbed-q", "VouTax3DirectFlag":
        null, "VouTax3CreditFlag": null, "VouTax3Code": null, "VouTax3Amt": 4807,
        "VouTax2TaxableFlag": "-Fallback-scrubbed-d", "VouCreatedByManchqFlag": "-Fallback-scrubbed-q",
        "VouAcctDescription": null, "links": [{"rel": "-Fallback-scrubbed-kYsc", "href":
        "-Fallback-scrubbed-PEBbEiziggGvfOtCidMsAubFDXLtOhqZLSlpTkLcdCOFsMrNbvAIKXguRuNBDwHbxRLgKRuYDrIkmTlDHMsDFfWcyXxEYeTPTPYJl",
        "name": "Megan Hogan", "kind": "-Fallback-scrubbed-cgyl"}, {"rel": "-Fallback-scrubbed-jsaymHQKW",
        "href": "-Fallback-scrubbed-PEBbEiziggGvfOtCidMsAubFDXLtOhqZLSlpTkLcdCOFsMrNbvAIKXguRuNBDwHbxRLgKRuYDrIkmTlDHMsDFfWcyXxEYeTPTPYJl",
        "name": "Megan Hogan", "kind": "-Fallback-scrubbed-cgyl"}, {"rel": "-Fallback-scrubbed-dDmdx",
        "href": "-Fallback-scrubbed-GdDWgqMLZShnHKgADTZRrMDOIijFiZKqSuPrsjzpVzBmTLbMtWsTRXzicKcSnaRBLUsrvhsLLWEDbpAurbNXbGToMvUjmfnixkXodcmzioQugsVNlkqNJbofouFnBCFNLBXxt",
        "name": [...]
