interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apinsurance?limit=500&q=InsCompCode+%3D+%27001%27+and+%28%28InsIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+InsIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27%29%29
  response:
    body:
      string: '{"items": [{"InsAmt": 5018, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-j",
        "InsCScAutoAssignFlag": "-Fallback-scrubbed-w", "InsCertLoc": "-Fallback-scrubbed-CYAlw",
        "InsCertNum": "-Fallback-scrubbed-BWKZdfIs", "InsCompCode": "001", "InsComplType":
        "-Fallback-scrubbed-VPJ", "InsComplianceFlag": "-Fallback-scrubbed-w", "InsCoverTypeCode":
        "COI", "InsCoverTypeDesc": "-Fallback-scrubbed-kwXPAjHMdGovxSHNtqTpGzjW",
        "InsDateComplianceFlag": "-Fallback-scrubbed-w", "InsDateSensitiveFlag": "-Fallback-scrubbed-w",
        "InsDeleteFlag": "-Fallback-scrubbed-w", "InsEndDate": "-Fallback-scrubbed-tDyzzRCCiP",
        "InsInscompCode": "-Fallback-scrubbed-dPo", "InsInscompName": "-Fallback-scrubbed-RyLxycLNSdWcXNOsnCRHsGVSNBOd",
        "InsNotesFlag": null, "InsPoAutoAssignFlag": "-Fallback-scrubbed-j", "InsPoNum":
        null, "InsPoReleaseNum": null, "InsScAutoAssignFlag": "-Fallback-scrubbed-w",
        "InsScContCode": null, "InsScJobCode": null, "InsStartDate": "-Fallback-scrubbed-kOjNComckW",
        "InsUpdateDate": null, "InsUpdateFlag": "-Fallback-scrubbed-w", "InsUpdateUser":
        null, "InsVUuid": "5568F4E2CEEC6835E06331121DAC1E6A", "InsVenCode": "-Fallback-scrubbed-BgWWx",
        "InsVouNum": null, "InsVouRemitDesc": null, "OrigCertNum": "-Fallback-scrubbed-BWKZdfIs",
        "OrigInscompCode": "-Fallback-scrubbed-dPo", "InsApriVUuid": null, "InsApriInvCode":
        null, "InsIuCreateDate": "2026-06-29T13:40:38-04:00", "InsIuUpdateDate": null,
        "InsUpdateVoucher": "-Fallback-scrubbed-j", "links": [{"rel": "-Fallback-scrubbed-dBuS",
        "href": "-Fallback-scrubbed-FbGIiuYllHjOuzpFXYizizWspxFQEMcdxiGJmOrRvmvDlNipFudaOuoUnXVYuOtGHsOBsGwyKrasyhyCItrzkAnCLuNHwoenRBzaJwrzQbvYePYLoYJwIPjKfU",
        "name": "Courtney Tran", "kind": "-Fallback-scrubbed-alZF"}, {"rel": "-Fallback-scrubbed-ShyStwpTM",
        "href": "-Fallback-scrubbed-FbGIiuYllHjOuzpFXYizizWspxFQEMcdxiGJmOrRvmvDlNipFudaOuoUnXVYuOtGHsOBsGwyKrasyhyCItrzkAnCLuNHwoenRBzaJwrzQbvYePYLoYJwIPjKfU",
        "name": "Courtney Tran", "kind": "-Fallback-scrubbed-alZF"}]}, {"InsAmt":
        null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-j", "InsCScAutoAssignFlag":
        "-Fallback-scrubbed-j", "InsCertLoc": null, "InsCertNum": "-Fallback-scrubbed-dPytquSl",
     [...]
