interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://partner-sandbox-api-basic.cmiccloud.com/cmicprtn/ap-rest-api/rest/1/apinsurance?limit=500&q=InsCompCode+%3D+%27001%27+and+%28InsCoverTypeCode+%3D+%27COI%27+and+%28InsIuUpdateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27+or+InsIuCreateDate+%3E%3D+%272000-01-01T00%3A00%3A01%2B0000%27%29%29
  response:
    body:
      string: '{"items": [{"InsAmt": 7680, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-u",
        "InsCScAutoAssignFlag": "-Fallback-scrubbed-W", "InsCertLoc": "-Fallback-scrubbed-mFcTa",
        "InsCertNum": "-Fallback-scrubbed-MNADRMJp", "InsCompCode": "001", "InsComplType":
        "-Fallback-scrubbed-Yqw", "InsComplianceFlag": "-Fallback-scrubbed-W", "InsCoverTypeCode":
        "-Fallback-scrubbed-WXK", "InsCoverTypeDesc": "-Fallback-scrubbed-ykdQUdVUsOrjfLNiVmMnDrbe",
        "InsDateComplianceFlag": "-Fallback-scrubbed-W", "InsDateSensitiveFlag": "-Fallback-scrubbed-W",
        "InsDeleteFlag": "-Fallback-scrubbed-W", "InsEndDate": "-Fallback-scrubbed-cCqRiwNosa",
        "InsInscompCode": "-Fallback-scrubbed-sDi", "InsInscompName": "-Fallback-scrubbed-VGqIUXRELFYEbnkKlqbohSPfASYK",
        "InsNotesFlag": null, "InsPoAutoAssignFlag": "-Fallback-scrubbed-u", "InsPoNum":
        null, "InsPoReleaseNum": null, "InsScAutoAssignFlag": "-Fallback-scrubbed-W",
        "InsScContCode": null, "InsScJobCode": null, "InsStartDate": "-Fallback-scrubbed-atvJtgaYGa",
        "InsUpdateDate": null, "InsUpdateFlag": "-Fallback-scrubbed-W", "InsUpdateUser":
        null, "InsVUuid": "5568F4E2CEEC6835E06331121DAC1E6A", "InsVenCode": "-Fallback-scrubbed-kfadW",
        "InsVouNum": null, "InsVouRemitDesc": null, "OrigCertNum": "-Fallback-scrubbed-MNADRMJp",
        "OrigInscompCode": "-Fallback-scrubbed-sDi", "InsApriVUuid": null, "InsApriInvCode":
        null, "InsIuCreateDate": "2026-06-29T13:40:38-04:00", "InsIuUpdateDate": null,
        "InsUpdateVoucher": "-Fallback-scrubbed-u", "links": [{"rel": "-Fallback-scrubbed-xnls",
        "href": "-Fallback-scrubbed-mxdaftcZczGXkKdlVORVwiOteaenBdLdAZuhGVQoiGHaMEQEBCkBZKKPLkbBkJzKGEoTeuJLtfNaZQczNNuyLsCpjJkqiZyFaIcsQZsTZdyrDHlTKLkRHIpmNo",
        "name": "Christine Griffith", "kind": "-Fallback-scrubbed-CzeS"}, {"rel":
        "-Fallback-scrubbed-oPImrcYVp", "href": "-Fallback-scrubbed-mxdaftcZczGXkKdlVORVwiOteaenBdLdAZuhGVQoiGHaMEQEBCkBZKKPLkbBkJzKGEoTeuJLtfNaZQczNNuyLsCpjJkqiZyFaIcsQZsTZdyrDHlTKLkRHIpmNo",
        "name": "Christine Griffith", "kind": "-Fallback-scrubbed-CzeS"}]}, {"InsAmt":
        null, "InsCPoAutoAssignFlag": "-Fallback-scrubbed-u", "InsCScAutoAssignFlag":
        "-Fallback-scrubbed-W", "InsCertLoc": null, "InsCertNum": "-Fallback-scrubbed-I",
       [...]
